

/* THE BIZNESS */

    html {
      -webkit-font-smoothing: antialiased;
    }

    body {
      background: #FF5A00; /*#FF5A00;*/
      color: #5a6980;
      font-family: "lato",sans-serif;
      font-size: 10px;
      margin: 0;
      overflow: hidden;
    }
    .container {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      position: absolute;
      z-index: 99;
      text-align: center;
    }

    .logo {
      width: 150px;
      height: 150px;
      margin-top: 2%;
    }

    .content-container {
      max-width: 780px;
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
    a {
      color: white;
      border-bottom: 1px solid #515f74;
      text-decoration: none;
      padding-bottom: 3px;
      transition: all .15s ease-in-out;
    }
    a:hover, a:active, a:focus {
      border-bottom: 1px solid white;
      padding-bottom: 0;
    }
    h1{
      font-family: "ff-enzo-web",sans-serif;
      color: white;
      text-align: center;
      width: 100%;
      font-weight: 100;
      font-size: 140px;
      margin: 0 auto 3%;
      display: block;
    }
    h1 a{
      text-decoration: none;
      color: white;
      border-bottom: 2px solid white;
      position: relative;
      transition: all .15s ease-in;
    }
    h1 a:hover, h1 a:focus {
      color: #FF5A00;
      bottom: 5px;
      border-bottom: 2px solid #FF5A00;
    }
    h1 a:active {
      bottom: 3px;
      transition: color .01s ease-in;
      color: white;
      border-bottom: 2px solid white;

    }
    h2 {
      color: white;
      font-weight: 100;
      font-size: 40px;
      width: 100%;
    }
    p {
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 400;
    }
    canvas {

    }
    @media screen and (max-width : 768px){
      canvas {
        display: none;
      }
      body {
        background: #243248;
      }
      .container {
        position: relative;
      }
      a {
        border-bottom: none;
      }
      a:hover, a:active, a:focus {
        border-bottom: none;
      }
      .logo {
        display: none;
      }
      h1 {
        margin-top: 10%;
      }
    }
    ::selection {
      color: #FF5A00;
    }
      ::-moz-selection
      {
      color: #FF5A00;
      }

.description1 {
  -webkit-animation-delay: 100ms;
}

.description2 {
  -webkit-animation-delay: 200ms;
}

.description3 {
  -webkit-animation-delay: 300ms;
}

