---
layout: default
title: "I'm available."
description: "Michael Mckeever is available for design and front-end development work in Belfast and remote."
canonical: "Hire me"
card_image: false
---

{%include page-title.html%}

<div class="mw7 center pv3 pv4-m pv5-l ph4 ph0-l">
  <section class="cf mb3 mb5-ns {{site.paragraph_classes}}">
    <div class="fl w-100 w-30-ns">
      <h3 class="lh-copy-xl-ns mb3 mb0-ns f8 gray ttu tracked ma0">Why?</h3>
    </div>
    <div class="fl w-100 w-70-ns">
      <p class="mt0 lh-copy-lg">I’m a digital designer and front-end developer with over 3 years of experience working professionally with agencies, startups and businesses from around the globe. I design and build websites and products with a focus on simplicity, performance and a borderline obsessive attention to detail.</p>

    </div>
  </section>

  <section class="flex flex-column flex-row-ns mb3 mb5-ns">
    <div class="w-100 w-30-ns">
      <h3 class="f8 gray ttu tracked ma0 mb3 mb0-ns lh-copy-ns">Services</h3>
    </div>
    <div class="w-100 w-70-ns">
      <div class="flex flex-column flex-row-l">
        <div class="w-100 w-50-l">
          <ul class="list pl0 ma0 {{site.paragraph_classes}}">
            <li class="mb3">Web Design</li>
            <li class="mb3">Product Design</li>
            <li class="mb3">Front-end Development</li>
            <li class="mb3">Brand Identity</li>
          </ul>
        </div>
        <div class="w-100 w-50-l pl4-l">
          <ul class="list pl0 ma0 {{site.paragraph_classes}}">
            <li class="mb3">E-Commerce</li>
            <li class="mb3">CMS Integration</li>
            <li class="mb3">Performance Optimisation</li>
            <li class="mb3">Technical SEO</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="cf mb3 mb5-ns {{site.paragraph_classes}}">
    <div class="fl w-100 w-30-ns">
      <h3 class="lh-copy-xl-ns mb3 mb0-ns f8 gray ttu tracked ma0">Rates</h3>
    </div>
    <div class="fl w-100 w-70-ns">
      <p class="mt0 lh-copy-lg">I charge {{site.daily_rate}}/day or {{site.hourly_rate}}/hour. Reduced rates are available for long-term clients/projects and good causes.</p>

    </div>
  </section>

  <section class="cf mb3 mb5-ns {{site.paragraph_classes}}">
    <div class="fl w-100 w-30-ns">
      <h3 class="lh-copy-xl-ns mb3 mb0-ns f8 gray ttu tracked ma0">Contact</h3>
    </div>
    <div class="fl w-100 w-70-ns">
      <p class="mt0 lh-copy-lg">If you would like to work with me you can get in touch by <a class="{{site.link_classes}}" href="mailto:{{site.social.email}}">emailing me</a> or shooting me a DM on <a class="{{site.link_classes}}" href="{{site.social.twitter.url}}{{site.social.twitter.username}}">Twitter</a>.</p>

    </div>
  </section>
</div>

{%include footer.html%}
