---
layout: default
title: "Projects"
description: "Case studies and projects for Michael Mckeever, a digital designer and front-end developer from Belfast."
canonical: "Projects"
card_image: true
---

<div class="mw8-m mw9-l center flex flex-column flex-row-ns justify-around flex-wrap pv3 pv5-ns ph3 ph4-l">

{% assign projects = site.projects | reverse' %}


{% for project in projects %}

  <div class="w-100 w-50-m w-third-l pa4 mb3 mb4-ns project-item">
    <div class="relative tc">
      <a
      {%if project.category == "case study"%}
      href="{{site.baseurl}}{{project.permalink}}"
      {%else%}
      href="{{project.project_url}}"
      {%endif%}
      class="db relative z-1 br1 shadow-6 shadow-hover dib grow project-image">
        <img src="{{site.baseurl}}{{site.imageurl}}{{project.title | slugify}}-thumbnail-lq.jpg" class="db lazyload" data-src="{{site.baseurl}}{{site.imageurl}}{{project.title | slugify}}-thumbnail.jpg" alt="{{project.title}}">
      </a>
      <div class="absolute bg-gradient br2 w-100 h-100 z-0 top-0 left-0" style="background-image: linear-gradient(0deg, {{project.color1}} 0%, {{project.color2}} 100%);"></div>
    </div>
    <h2 class="f4 normal mt4">{{project.title}}</h2>
    <p class="lh-copy mid-gray">{{project.description}}</p>
    {%if project.category == "case study"%}
    <a class="link blue f8 b db mt3 link-arrow ttu tracked" href="{{project.url}}">View the Case Study</a>
    {%else%}
    <a class="link blue f8 b db mt3 link-arrow ttu tracked" href="{{project.project_url}}">Visit the website</a>
    {%endif%}
  </div>

{% endfor %}

  <div class="tc mt5">
    <p>View works-in-progress and more on <a target="_blank" rel="noopener noreferrer" class="link active-black link-arrow blue"
      href="{{site.social.dribbble.url}}{{site.social.dribbble.username}}" title="Follow me on dribbble">Dribbble</a>
</p>
  </div>

</div>

{%include footer.html%}
