---
layout: post
title:  "Emotics"
subtitle: ", redesigning Adoreboard's flagship product"
date: 18/02/2019
color1: "#2D1757"
color2: "#472E78"
role:
  - Design
  - UX
description: "Product and UX design for Emotics, Adoreboard's emotion analysis tool"
permalink: /projects/emotics/
brief: "Product and UX design for Emotics, Adoreboard's emotion analysis tool"
permalink: /projects/emotics/
category: "case study"
canonical: "Case Study"
featured: true
---

<p><a class="{{site.link_classes}}" href="https://adoreboard.com/">Adoreboard</a> brought me in to work alongside their product team to redesign Emotics, an emotion analytics product used by consultants and agencies that analyses data to provide actionable insights for brands and research institutions.</p>

<h2 class="{{site.post_heading_classes}}">UX Audit</h2>

<p>Before jumping in with the redesign it was important to get familiar with their current iteration of the product and start figuring out the pain points. Emotics was still in beta at this stage and hadn't yet been released to customers but the internal consultants were already utilising it for live projects. They proved to be invaluable for gathering feedback on current weaknesses in the product and discussing new features.</p>

{% include figure.html size="mw9" url="old-emotics" type="png" alt="Old version of Adoreboard Emotics" caption="The old version of Emotics" %}

<p>The old version of Emotics suffered from a lack of clear hieracrchy and a confusing UI. Some of the key issues were:</p>

<ul>
    <li>Difficulty uploading datasets</li>
    <li>Difficulty sorting through uploaded data as this was all done within the sidebar</li>
    <li>Viewing topics and snippets was confusing, with no indication of where to access them or dig deeper for further analysis</li>
    <li>Too much functionality and actions were contained within the small space of the sidebar</li>
</ul>


<h2 class="{{site.post_heading_classes}}">Storyboards</h2>

<p>Once I had spent time with the current product and gathered feedback on the aspects of the product that needed improved, I started storyboarding and creating low fidelity wireframes of the product.</p>

{% include figure.html size="mw9" url="emotics-storyboards" type="png" alt="Storyboards for Adoreboard Emotics" caption="Emotics storyboarding" %}


<h2 class="{{site.post_heading_classes}}">Upload flow</h2>

<p>One of the most important aspects of Emotics is uploading datasets that can then be analysed by their engine to display actionable insights. Originally, this was all done within the sidebar &mdash; which was too much functionality for a small section of the app.</p>

{% include figure.html size="mw9" url="upload-flow" type="jpg" alt="Upload flow for Adoreboard Emotics" caption="Emotics upload dataset flow" %}

<h2 class="{{site.post_heading_classes}}">Components</h2>

{% include figure.html size="mw8" url="emotics-components" type="jpg" alt="Adoreboard Emotics Components" caption="Some of the designed components" %}

<h2 class="{{site.post_heading_classes}}">Onboarding</h2>


{% include figure.html size="mw9" url="emotics-onboarding" type="jpg" alt="Adoreboard Emotics Onboarding" caption="The onboarding flow" %}

<p>One of the challenges with Emotics is that it is a complex product with terminology and methods that wouldn't be immediately apparent. It was important to showcase the value of the product without overwhelming or trapping the users in an onboarding flow that would only frustrate them.</p>

{% include figure.html size="mw9" url="emotics-onboarding-2" type="jpg" alt="Adoreboard Emotics Onboarding" %}

<p>Modals are used to introduce users to each section of the app. Users can take the optional tour, at which point they'll be guided through the key features of that page.</p>

<h2 class="{{site.post_heading_classes}}">The finished product</h2>

{% include figure.html size="mw8" url="emotics-preview" type="jpg" alt="Adoreboard Emotics Preview" %}

<p></p>

<h2 class="{{site.post_heading_classes}}">Just kidding.. a product is never finished.</h2>

<p>One of the interesting things from talking directly with customers was discovering that conventions that you assume would be obvious to the average user turn out to be far from it. One of these such conventions was the "ellipsis menu" that was being used to group dataset actions within a dropdown menu.</p>

{% include figure.html size="mw9" url="emotics-customer-feedback" type="jpg" alt="Iterative feedback" %}

<p>After speaking with numerous users and gaining their feedback, it became apparent that this action was too abstract. They weren't aware you could interact with it. So I redesigned it to make the actions more apparent.</p>

<p>As Luke Wrobleski says, <a href="https://www.lukew.com/ff/entry.asp?1945">obvious always wins</a>.</p>

<h2 class="{{site.post_heading_classes}}">Redesigning the Adorescore</h2>

{% include figure.html size="mw9" url="adorescore-redesign" type="jpg" alt="Adoreboard Emotics Adorescore Redesign" caption="Redesigning the Adorescore" %}

<p>The Adorescore is a pivotal aspect of the Emotics product. Discussions within the team however concluded that too
  much emphasis was being placed on it and that the score, by itself, wasn't a key indicator of the data. This was
  leading to confusion from users who felt that the score was too inaccurate and not reflective of the data. To combat this, I tackled two things:</p>

<ol>
  <li>Revisit the hierarchical layout to place less emphasis on the dataset's adorescores from a visual perspective.</li>
  <li>Give a visual breakdown of each adorescore that will allow users, at a glance, to distingish if their datasets consists of mostly negative, neutral or positive data.</li>
</ol>

<h2 class="{{site.post_heading_classes}}">Logo Design</h2>

<p>One of the last tasks I undertook with Emotics was redesigning the brand. The original brand was dated and didn't fit with the new tone of the product.</p>

{% include figure.html size="mw8" url="emotics-logo" type="png" alt="Emotics branding" caption="Emotics rebrand" %}

<p>I also animated the logo for use on loading screens and marketing material.</p>

{%include video.html url="emotics-logo-white" type="mp4" autoplay=true loop=true %}
