---
layout: post
title:  "Flyte"
subtitle: ", mobile design and prototyping"
date: 07/07/2017
color1: "#0379C7"
color2: "#58A7DB"
role:
  - Design
  - UX
  - Prototyping
description: "UX, design and prototyping for Flyte's mobile app for drone pilots"
brief: "UX, design and prototyping for Flyte's mobile app for drone pilots"
permalink: /projects/flyte/
category: "case study"
canonical: "Case Study"
featured: true
---

<p>After carrying out the design for their web app, Flyte contacted me to design their mobile app. Flyte is an Irish drone startup (now ceased trading) that specialised in software and planning for commercial drone pilots. The purpose of the app was to compliment their web app to allow customers to track and manage their planned drone flights (done through the web app) when out and about.</p>

<h2 class="{{site.post_heading_classes}}">User Journey</h2>

<p>The first step was to plan out the user journey for a customer using the app.</p>

{% include figure.html size="mw9" url="flyte-mobile-app-user-journey" type="png" alt="Flyte mobile app user journey" %}

<p>As the app was intended for already paying customers of Flyte, the user journey for the mobile app would be quite simple. There would be no registration process as users of the app would already be registered customers.</p>

<h2 class="{{site.post_heading_classes}}">Login Screens</h2>

{% include figure.html size="mw8" url="flyte-login-screens" type="png" alt="Flyte mobile app login journey" %}

<h2 class="{{site.post_heading_classes}}">Empty States</h2>

{% include figure.html size="mw8" url="flyte-empty-states" type="png" alt="Flyte mobile app empty states" %}

<h2 class="{{site.post_heading_classes}}">Mockups</h2>

{% include figure.html size="mw9" url="flyte-app-screens" type="jpg" alt="Flyte mobile app design" %}

<h2 class="{{site.post_heading_classes}}">Prototyping</h2>

<p>To prototype interactions, animations and navigation, I recreated the designs in Framer (now Framer classic). This was my first experience with a prototyping tool such as Framer. The learning curve is steep and the tools need more refinement before I would consider them a replacement for static design tools such as Sketch. That being said, the overall experience is very rewarding and was invaluable for providing the developer with shippable code that could be utilised for the interactions and animations.</p>

<div class="mw6">
{%include video.html url="flyte-mobile-app" type="mp4" autoplay=true loop=true autosize=true %}
</div>
