<figure class="center {{include.size}} db mv4">
  <img src="{{site.baseurl}}{{site.imageurl}}{{include.url}}-lq.jpg" data-sizes="auto" data-src="{{site.baseurl}}{{site.imageurl}}{{include.url}}.{{include.type}}" data-srcset="{{site.baseurl}}{{site.imageurl}}{{include.url}}.{{include.type}} 1x, {{site.baseurl}}{{site.imageurl}}{{include.url}}-2x.{{include.type}} 2x" class="lazyload ba b--light-silver" alt="{{include.alt}}" />
  {%if include.caption%}
  <figcaption class="f6 left gray">{{include.caption}}</figcaption>
  {%endif%}
</figure>
