/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: $primary-stack;
  color: $t--darkestblue;
  background: #E6EEF3;
  &.dark {
    background: $bg--darkblue;
  }
  &.pattern-dark {
    background: $bg--darkblue url('../images/pattern-dark.png') repeat;
  }
}

header {
  height: 100px;
  background: #1a94ac;
  margin-bottom: 40px;
  padding: 30px 0;
  box-sizing: border-box;

}

.gradient-border {
  @include linear-gradient(to right, $b--lightblue, $b--lightblue 33.33%, $b--darkblue 33.33%, $b--lightgreen 33.33%);
  height: 5px;
  top: 0;
  position: relative;
}

.fully-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -240px 0 0 -200px;
}

#google_canvas {
  height:400px;
  background: red;
}
#google_canvas h1 {
  font-size:16px;
}
#google_canvas h2 {
  font-size:14px;
  font-weight:300;
}
