/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  color: $p--offwhite;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: .2px;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-bottom: 3px solid;
  border-radius: $border-radius;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
  color: $p--offwhite;
  background-color: darken($p--orange,5%);
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $p--orange;
  border-color: $p--darkestorange; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: darken($p--orange,2%);
  border-color: $p--darkestorange; }

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  background-color: $p--blue;
  border-color: $p--darkestblue; }
.button.button-secondary:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
  background-color: darken($p--blue,3%);
  border-color: $p--darkestblue; }

.inact {
  background-color: #ccc!important;
  border-bottom: 3px solid #bbb!important;
  cursor: not-allowed;
  &:hover {

  }
}

