/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 50px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  box-shadow: none;
  width: 100%;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 2rem;
  @include placeholder {
    color: $t--lightgrey;
  }
}

.form-control {
    border: 2px solid $t--lightgrey;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 160px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid $p--blue;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.submitButton {
  float: right;
}

.moodmemoForm textarea {
  width: 100%;
  display: block;
  height: 120px;
}

.submit {
  float: right;
  display: block;
}

.counter {
  margin-right: 10px;
  line-height: 38px;
  display: inline-block;
}

.form-modal {
  margin-bottom: 20px;
}

.form-modal.small {
  width: 400px;
  min-height: 290px;
  height: 100%;
  padding: 20px;
  padding-bottom: 30px;
  background: $bg--lightestgrey;
  border: none;
  border-bottom: 2px solid $bg--lightgrey;
  &:before {
    @include border-gradient;
  }
}

.form-container {
  width: 90%;
  margin: 0 auto;
}

.input-prepend {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 15px;
  width: 360px;
  input {
    position: relative;
    width: 314px;
    margin-bottom: 0;
    vertical-align: top;
    border-radius: 0 5px 5px 0;
  }
}

.ss-form-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 4px 5px;
  font-size: 2rem;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #fff;
  border: 2px solid $t--lightgrey;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  margin-right: -6px;
  color: $t--lightgrey;
}

.focused {
  border: 2px solid $p--blue;
  color: $p--blue;
}


.form-logo {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

.feedback-block {
  border-radius: $border-radius;
  width: 100%;
  margin:5px;
  border: 2px solid;
  font-size:90%;
   ul {
    list-style-type: none;
  }
  padding: 11px 15px;
  img {
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px;
  }
  span {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
  a {
    margin-top: 6px;
    margin-bottom: 0;
  }
}

.feedback-block__inline {
  position: relative;
  margin-bottom: 12px;
  &:after, &:before {
    top: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-width: 10px;
    margin-left: -10px;
    border-color: rgba(136, 183, 213, 0);
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 13px;
    margin-left: -13px;
  }
}

.feedback-block__inline.alert:after {
  border-top-color: $f--lightyellow;
}
.feedback-block__inline.alert:before {
  border-top-color: $f--yellow;
}

.feedback-block__inline.error:after {
  border-top-color: $f--lightred;
}
.feedback-block__inline.error:before {
  border-top-color: $f--red;
}

.feedback-block__inline.success:after {
  border-top-color: $f--lightgreen;
}
.feedback-block__inline.success:before {
  border-top-color: $f--green;
}


.feedback-block__trigger {
  float: right;
  display: block;
  margin: 5px;
}

#error, #success {
  display:block;
}

.alert {
  color: $f--yellow;
  background: $f--lightyellow;
  border-color: $f--yellow;
  a {
    color: $f--yellow;
    &:hover, &:focus, &:active {
      color: darken($f--yellow,5%);
    }
  }
}

.error {
  color:$f--red;
  background-color: $f--lightred;
  border-color: $f--red;
  a {
    color: $f--red;
    &:hover, &:focus, &:active {
      color: darken($f--red,5%);
    }
  }
}

.success {
  color:$f--green;
  border-color:$f--green;
  background-color: $f--lightgreen;
  border-color: $f--green;
  a {
    color: $f--green;
    &:hover, &:focus, &:active {
      color: darken($f--green,5%);
    }
  }
}

.input-alert {
  border: 2px solid $f--yellow;
}
.input-error {
  border: 2px solid $f--red;
}
.input-success {
  border: 2px solid $f--green;
}



