/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $t--darkestblue;
  font-weight: bold;
  &.orange {
    color: $p--orange;
    &:hover {
      color: darken($p--orange, 5%);
    }
  }
}
a:hover {
  color: #0FA0CE;
}

.form__link {
  display: inline-block;
  margin-top: 10px;
}

