/* Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */

//border colours
$b--lightgreen:           #C9DB52;
$b--lightblue:            #00ABA8;
$b--darkblue:             #285D68;

//greys
$darkestgrey:             #A0A09F;

//background colours
$bg--darkblue:            #0A4558;
$bg--lightestgrey:        #ECECEC;
$bg--lightgrey:           #C8C8C8;


//text colours
$t--darkestblue:          #083546;
$t--darkestgrey:          #98A0A2;
$t--lightgrey:            #D7D7D7;
$t--offwhite:             #ecfded;

//primary colours
$p--blue:                 #2195AD;
$p--darkestblue:          #19869C;
$p--orange:               #ff6428;
$p--darkestorange:        #CC4F1F;


/* Border-radius
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$border-radius: 5px;

/* font-stack
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$primary-stack: "proxima-nova-soft", sans-serif;

/* border gradient
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin border-gradient {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, $b--lightblue, $b--lightblue 16.5%, $b--darkblue 16.5%, $b--darkblue 33.33%, $b--lightgreen 33.33%, $b--lightgreen 50%, $b--lightblue 50%, $b--lightblue 66.5%, $b--darkblue 66.5%, $b--darkblue 83%,$b--lightgreen 83%, $b--lightgreen 100%);
  height: 5px;
}

