<header
  role="banner"
  class="relative z-50 flex flex-col items-center justify-between px-6 py-6 sm:flex-row sm:py-8 md:px-8 lg:px-10 2xl:py-12 2xl:px-12"
>
  {% include partials/logo.html text="true" %}
  <nav class="pt-3 sm:ml-auto sm:pt-0">
    <ul
      class="flex font-edgy space-x-6 sm:space-x-12 lg:space-x-14 xl:space-x-16 2xl:space-x-20 {% if page.textColor == 'dark' %}text-altGray-900{%else%}text-white{%endif%}"
    >
      {% for item in site.navigation %}
        {% if page.url contains item.url %}
          {% assign highlight = 'opacity-100' %}
          {% assign current = 'aria-current="page"' %}
        {% else %}
          {% if page.url contains 'case-studies' %}
            {% assign highlight = 'opacity-75 hover:opacity-100 focus:opacity-100' %}
          {%else%}
            {% assign highlight = 'opacity-50 hover:opacity-100 focus:opacity-100' %}
          {% endif %}
          {% assign current = '' %}
        {% endif %}
      <li class="{% if forloop.last %}hidden sm:flex{% else %}flex{%endif%}">
        <a
          href="{{ item.url }}"
          class="inline-flex items-center px-1 text-base 2xl:text-lg font-medium focus:outline-none transition duration-150 ease-in-out {{ highlight }}" {{ current }}
        >
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
