<header
  role="banner"
  class="flex flex-col sm:flex-row items-center justify-between px-6 py-4 sm:py-8 md:px-8 lg:px-10 2xl:py-12 2xl:px-12 relative z-50"
>
  <a
    href="/"
    aria-label="{{ site.name }}"
    class="inline-flex flex-shrink-0 items-center focus:outline-none logo {% if page.textColor == 'dark' %}text-altGray-900{%else%}text-white{%endif%}"
  >
    <span class="relative block sm:inline-block mr-2 w-7 h-2 opacity-75">
      <svg class="logo-shape logo-shape--1" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="10" width="14.1421" height="14.5441" transform="rotate(-45 0 10)" fill="currentColor"/></svg>
      <svg class="logo-shape logo-shape--2" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="10.2842" cy="10.1421" r="10" fill="currentColor"/></svg>
      <svg class="logo-shape logo-shape--3" width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2842 0.64209L22.2842 19.6421H0.28418L11.2842 0.64209Z" fill="currentColor"/></svg>
    </span>
    <h2 class="invisible h-0 w-0">Michael McKeever |  Product Designer</h2>
    <h3
      class="ml-2 font-medium lowercase text-sm sm:text-base flex logo transition transform duration-150 2xl:text-lg"
    >
      <!-- I know, I know. This is terrible for SEO ¯\_(ツ)_/¯ -->
      <span class="inline">McK</span>
      <span class="logo-letter--hide">e</span>
      <span class="logo-letter--hide delay-75">e</span>
      <span class="inline">v</span>
      <span class="logo-letter--hide delay-100">e</span>
      <span class="inline">r</span>
    </h3>
  </a>
  <nav class="sm:ml-auto pt-3 sm:pt-0">
    <ul
      class="flex font-edgy space-x-6 sm:space-x-12 lg:space-x-14 xl:space-x-16 2xl:space-x-20 {% if page.textColor == 'dark' %}text-altGray-900{%else%}text-white{%endif%}"
    >
      {% for item in site.navigation %}
        {% if page.url contains item.url %}
          {% assign highlight = 'opacity-100' %}
          {% assign current = 'aria-current="page"' %}
        {% else %}
          {% if page.url contains 'case-studies' %}
            {% assign highlight = 'opacity-75 hover:opacity-100 focus:opacity-100' %}
          {%else%}
            {% assign highlight = 'opacity-50 hover:opacity-100 focus:opacity-100' %}
          {% endif %}
          {% assign current = '' %}
        {% endif %}
      <li class="flex">
        <a
          href="{{ item.url }}"
          class="inline-flex items-center px-1 text-sm sm:text-base 2xl:text-lg font-medium focus:outline-none transition duration-150 ease-in-out {{ highlight }}" {{ current }}
        >
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
