
// Converted Variables

$black: #171123 !default;
$near-black: #343445 !default;
$dark-gray:#3f3f3f !default;
$mid-gray:#768093 !default;
$gray: #BEC8CD !default;
$silver: #999 !default;
$light-silver: #E6E8E9 !default;
$moon-gray: #ccc !default;
$light-gray: #F5F6F8 !default;
$near-white: #F0F2F4 !default;
$white: #fff !default;

$transparent:transparent !default;

$black-90: rgba($black,.9) !default;
$black-80: rgba($black,.8) !default;
$black-70: rgba($black,.7) !default;
$black-60: rgba($black,.6) !default;
$black-50: rgba($black,.5) !default;
$black-40: rgba($black,.4) !default;
$black-30: rgba($black,.3) !default;
$black-20: rgba($black,.2) !default;
$black-10: rgba($black,.1) !default;
$black-05: rgba($black,.05) !default;
$black-025: rgba($black,.025) !default;
$black-0125: rgba($black,.0125) !default;

$white-90: rgba(255,255,255,.9) !default;
$white-80: rgba(255,255,255,.8) !default;
$white-70: rgba(255,255,255,.7) !default;
$white-60: rgba(255,255,255,.6) !default;
$white-50: rgba(255,255,255,.5) !default;
$white-40: rgba(255,255,255,.4) !default;
$white-30: rgba(255,255,255,.3) !default;
$white-20: rgba(255,255,255,.2) !default;
$white-10: rgba(255,255,255,.1) !default;
$white-05: rgba(255,255,255,.05) !default;
$white-025: rgba(255,255,255,.025) !default;
$white-0125: rgba(255,255,255,.0125) !default;

$dark-red:  #e7040f !default;
$red:  #ff4136 !default;
$light-red:  #ff725c !default;
$orange:  #ff6300 !default;
$gold:  #ffb700 !default;
$yellow:  #FFFD6F !default;
$light-yellow:  #FCF5C3 !default;
$purple:  #5e2ca5 !default;
$light-purple:  #a463f2 !default;
$dark-pink:  #d5008f !default;
$hot-pink: #ff41b4 !default;
$pink:  #F782FF !default;
$light-pink:  #ffa3d7 !default;
$dark-green:  #137752 !default;
$green:  #44FEA5 !default;
$light-green:  #77F7D8 !default;
$navy:  #001b44 !default;
$dark-blue:  #00449e !default;
$blue:  #0083FF !default;
$light-blue:  #96ccff !default;
$lightest-blue: lighten($blue,40%) !default;
$washed-blue:  lighten($blue, 46%) !default;
$washed-green:  #e8fdf5 !default;
$washed-yellow:  #fffceb !default;
$washed-red:  #ffdfdf !default;


// Custom Media Query Variables


/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/
