
// Converted Variables


// Custom Media Query Variables


/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  .lh-solid { line-height: 1; }
  .lh-title { line-height: 1.25; }
  .lh-copy  { line-height: 1.5; }
  .lh-copy-md  { line-height: 1.8; }
  .lh-copy-lg  { line-height: 2; }
  .lh-copy-xl  { line-height: 3; }

@media #{$breakpoint-not-small} {
  .lh-solid-ns { line-height: 1; }
  .lh-title-ns { line-height: 1.25; }
  .lh-copy-ns  { line-height: 1.5; }
  .lh-copy-lg-ns  { line-height: 2; }
  .lh-copy-xl-ns  { line-height: 3; }
}

@media #{$breakpoint-medium} {
  .lh-solid-m { line-height: 1; }
  .lh-title-m { line-height: 1.25; }
  .lh-copy-m  { line-height: 1.5; }
  .lh-copy-lg-m  { line-height: 2; }
  .lh-copy-xl-m  { line-height: 3; }
}

@media #{$breakpoint-large} {
  .lh-solid-l { line-height: 1; }
  .lh-title-l { line-height: 1.25; }
  .lh-copy-l  { line-height: 1.5; }
  .lh-copy-lg-l  { line-height: 2; }
  .lh-copy-xl-l  { line-height: 3; }
}
