
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes rotateFull {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes rotateFull {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.rotateFull {
    -webkit-animation: rotateFull 900s linear infinite;
    animation: rotateFull 900s linear infinite
}

.status {
  width: 6px;
  height: 6px;
  display: inline-block;
  left: -15px;
  top: calc(50% - 3px);
}

.list-horizontal-disc {
  li:not(:first-of-type)::before {
    content: "\2022";
    padding-right: $spacing-small;
  }
}

.icon {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-xs {
  width: 6px;
  height: 6px;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.icon-sm-center {
  left: calc(50% - 16px);
  top: -16px;
}

.icon-header {
  height: 30em;
  width: 30em;
  top: -3.5em;
  left: -3.5em;
  z-index: -1;
  @media #{$breakpoint-medium} {
    height: 40em;
    width: 40em;
    top: -5em;
    left: -5em;
  }
  @media #{$breakpoint-large} {
    height: 60em;
    width: 60em;
    top: -15em;
    left: -10em;
  }
  @media #{$breakpoint-xlarge} {
    height: 80em;
    width: 80em;
    top: -20em;
    left: -15em;
  }
}

.icon-header:not(*:root) {
  display: block;
}

.bg-gradient {
height: 70%;
top: 15%;
transform: skewY(-2deg);

}

.project-item {
  max-width: 400px;
}


.project-image {
  width: 74.45%;
  //max-height: 230px;
}

.post-content {
  > *:not(.full-width):not(.mw7):not(.mw8):not(.mw9):not(.flex):not(.cf):not(.highlight):not(.highlighter-rouge) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  > blockquote, > div.highlighter-rouge, figure.highlight {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
  figure.highlight {
    padding: 1rem;
  }
  > .highlight {
    line-height: 1.4;
  }
  h2, h3 {
    font-size: 1.25rem;
  }
  a {
    color: $blue;
    transition: all .15s ease-in;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
      text-decoration-color: currentColor;
    }
    &:active {
      color: $near-black;
    }
  }
  p img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}

.line-break {
  position: relative;
  &:before, &:after {
    position: absolute;
    content: "";
    background-color: $light-silver;
    display: block;
    height: 1px;
    width: 49%;
    top: 8px;
  }
  &:after {
    margin-left: 51%;
  }
}

pre {
  margin: 0;
}

.line-spacer {
  border-bottom: 1px dotted $gray;
}

::selection {
  background-color: $yellow;
}

.active {
  color: $near-black;
}

.cross {
  width: 20px;
  height: 20px;
  display: inline-block;
  transition: 700ms ease;
  &:hover {
    &:before, &:after {
      background-color: $black;
    }
    &:before {
      left: -33.4%;
    }
    &:after {
      right: -33.4%;
    }
  }
}
.cross:after,
.cross:before {
  background-color: $gray;
  content: "";
  position: absolute;
  height: .23em;
  width: 100%;
  transition: 200ms ease;
  top: 50%;
}
.cross:after {
  transform: rotate(45deg);
  right: 0;
}
.cross:before {
  transform: rotate(-45deg);
  left: 0;
}
