
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes rotateFull {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes rotateFull {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.rotateFull {
    -webkit-animation: rotateFull 900s linear infinite;
    animation: rotateFull 900s linear infinite
}


.status {
  width: 6px;
  height: 6px;
  display: inline-block;
  left: -15px;
  top: calc(50% - 3px);
}

.list-horizontal-disc {
  li:not(:first-of-type)::before {
    content: "\2022";
    padding-right: $spacing-small;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-xs {
  width: 7px;
  height: 7px;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.icon-sm-center {
  left: calc(50% - 16px);
  top: -16px;
}

.icon-header {
  height: 60em;
  width: 60em;
  top: -10em;
  left: -10em;
  z-index: -1;
}

.bg-gradient {
height: 70%;
top: 15%;
transform: skewY(-2deg);

}

.project-item {
  max-width: 400px;
}


.project-image {
  width: 74.45%;
  //max-height: 230px;
}

.post-content {
  > *:not(.full-width):not(.mw7):not(.mw8):not(.mw9):not(.flex):not(.cf):not(.highlight) {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  > blockquote, > .highlight {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }
  > .highlight {
    line-height: 1.4;
  }
}

.line-break {
  position: relative;
  &:before, &:after {
    position: absolute;
    content: "";
    background-color: $light-silver;
    display: block;
    height: 1px;
    width: 49%;
    top: 8px;
  }
  &:after {
    margin-left: 51%;
  }
}

pre {
  margin: 0;
}
