---
layout: default
---
<article class="overflow-x-hidden">
  <div
    class="relative flex flex-col w-full max-w-5xl px-6 mx-auto mb-12 sm:flex-row sm:items-center 2xl:max-w-screen-xl hero sm:mt-0 sm:px-6 lg:px-8 xl:px-0"
  >
    <div class="z-10 hero--image sm:absolute sm:right-0 sm:w-7/12 md:w-2/3 2xl:w:8/12">
      <picture>
        <source type="image/webp" data-srcset="/images/{{page.intro.image}}.webp" />
        <source type="image/jpeg" data-srcset="/images/{{page.intro.image}}.jpg" />
        <img
        class="w-full lazy"
        data-tilt
        data-tilt-full-page-listening
        data-tilt-reset="false"
        data-tilt-max="5"
        data-tilt-speed="750"
        data-tilt-reset="true"
        data-tilt-startX="4"
        data-tilt-perspective="1000"
        width="1292"
        height="822"
        src="/images/{{page.intro.image}}-lq.webp"
        data-src="/images/{{page.intro.image}}.jpg"
        alt="Photo of Michael McKeever">
      </picture>
    </div>
    <h1 class="relative z-20 flex-grow px-2 text-3xl leading-tight -mt-14 sm:-mt-0 sm:py-24 sm:px-0 xs:text-4xl lg:text-5xl">
      {{ page.intro.title }}
    </h1>
  </div>

  <section
    class="{% include classes/section.html %}"
  >
    <div class="sm:w-2/12">
      {%- include partials/section-h2.html title="About" -%}
    </div>
    <div class="prose text-white xs:prose-lg xs:text-lg md:text-xl 2xl:text-1xl sm:w-10/12">{{ content }}</div>
  </section>

  <section
    class="relative flex flex-no-wrap px-3 py-16 mx-auto -mt-8 overflow-x-auto scrolling-touch lg:w-full img-grid md:py-32 md:-mt-16 scroller md:px-6"
  >
    <div class="px-3 md:px-6">
      <picture>
        <source type="image/webp" data-srcset="/images/michael-mckeever-4.webp" />
        <source type="image/jpeg" data-srcset="/images/michael-mckeever-4.jpg" />
        <img
        class="grid-img lazy"
        data-tilt
        data-tilt-glare
        data-tilt-max-glare="1"
        data-tilt-speed="750"
        data-tilt-perspective="1000"
        data-tilt-max="5"
        data-tilt-startX="-5"
        data-tilt-startY="0"
        data-tilt-reset="true"
        width="900"
        height="600"
        src="/images/michael-mckeever-4-lq.webp"
        data-src="/images/michael-mckeever-4.jpg"
        alt="Photo of Michael McKeever">
      </picture>
    </div>
    <div class="px-3 -mt-6 md:-mt-12 md:px-6">
      <picture>
        <source type="image/webp" data-srcset="/images/japan-1.webp" />
        <source type="image/jpeg" data-srcset="/images/japan-1.jpg" />
        <img
        class="grid-img lazy"
        data-tilt
        data-tilt-glare
        data-tilt-max-glare="0.3"
        data-tilt-speed="750"
        data-tilt-perspective="1000"
        data-tilt-max="5"
        data-tilt-reset="true"
        data-tilt-startX="0"
        data-tilt-startY="0"
        width="900"
        height="600"
        src="/images/japan-1-lq.webp"
        data-src="/images/japan-1.jpg"
        alt="Photo of Tori gates in Kyoto, Japa">
      </picture>
    </div>
    <div class="px-3 -mt-12 md:-mt-24 md:px-6">
      <picture>
        <source type="image/webp" data-srcset="/images/michael-mckeever-5.webp" />
        <source type="image/jpeg" data-srcset="/images/michael-mckeever-5.jpg" />
        <img
        class="grid-img lazy"
        data-tilt
        data-tilt-glare
        data-tilt-max-glare="0.3"
        data-tilt-speed="750"
        data-tilt-perspective="1000"
        data-tilt-max="5"
        data-tilt-reset="true"
        data-tilt-startX="5"
        data-tilt-startY="0"
        width="900"
        height="600"
        src="/images/michael-mckeever-5-lq.webp"
        data-src="/images/michael-mckeever-5.jpg"
        alt="Photo of Michael McKeever">
      </picture>
    </div>
  </section>

  <section class="{% include classes/section.html %}">
    <div class="mb-4 sm:w-2/12 sm:mb-0">
      {%- include partials/section-h2.html title="Timeline" -%}
    </div>
    <div class="flex flex-col space-y-12 text-white sm:w-10/12">
        {%- for item in page.timeline -%}
        <div>
        <h3 class="font-medium xs:text-lg 2xl:text-xl font-edgy">{{item.job}}</h3>
        <h4 class="mb-1 xs:text-lg 2xl:text-xl">{{item.title}}</h4>
        <h5 class="text-sm font-medium tracking-tight opacity-50 sm:text-base">{{item.date}}</h5>
        </div>
        {%- endfor -%}
    </div>
  </section>

  <section
    class="{% include classes/section.html %}"
  >
    <div class="mb-4 sm:w-2/12 sm:mb-0">
      {%- include partials/section-h2.html title="Brags" -%}
    </div>
    <div class="text-white sm:w-10/12 sm:-mt-3">
      {% for item in page.links %} {% include partials/link-block.html %} {% endfor
      %}
    </div>
  </section>

  <section class="{% include classes/section.html %}">
    <div class="mb-4 sm:w-2/12 sm:mb-0">
      {%- include partials/section-h2.html title="Social" -%}
    </div>
    <div class="-mt-3 text-white sm:w-10/12">
      <ul class="grid w-full gap-6 xs:grid-cols-2 grid-img xs:gap-12">
        {% for item in page.social %} {% include partials/social-link.html %} {%
        endfor %}
      </ul>
    </div>
  </section>

</article>