---
layout: default
---
{%- assign title = page.title %}
{%- assign skills = page.skills | join: ',&nbsp; ' -%}
{%- assign platforms = page.platforms | join: ',&nbsp; ' -%}
{%- assign role = page.role %}
{%- assign year = page.year %}
{%- assign cover = page.cover %}
{%- assign previousPost = page.previous %}
{%- assign nextPost = page.next %}
<article>
  <div
    class="relative flex flex-col justify-center hero h-1 bg-contain bg-no-repeat bg-right {% if page.textColor == 'dark' %}text-altGray-800{%else%}text-white{%endif%}">
    <div
      class="flex items-center w-full h-full max-w-5xl px-6 mx-auto -mt-6 lg:px-10 xl:px-0 2xl:max-w-screen-xl sm:-mt-12 md:-mt-24"
    >
      <div class="w-full py-24 sm:w-3/4 lg:w-1/2">
        <h3 class="relative z-40 mb-1 font-medium opacity-75 sm:text-xl sm:mb-2 font-edgy">Case study</h3>
        <h1 class="relative z-20 flex-grow text-2xl font-medium leading-tight xs:text-3xl sm:text-4xl lg:text-5xl">
          {{ title }}
        </h1>
      </div>
      <div class="absolute bottom-0 right-0 z-10 w-full opacity-50 md:opacity-75 lg:opacity-100 md:w-2/3 xl:w-1/2 h-1/2">
        <picture class="shadow-lg lg:shadow-xl xl:shadow-2xl">
            <source type="image/webp" data-srcset="/images/{{cover}}.webp" />
            <source type="image/jpeg" data-srcset="/images/{{cover}}.png" />
            <img src="/images/{{cover}}.webp" alt="Cover photo for {{title}} case study by Michael McKeever">
        </picture>

      </div>
    </div>
  </div>

<div class="px-4 sm:px-6 xl:px-0">
  <aside class="relative z-10 flex flex-row flex-no-wrap max-w-6xl py-6 mx-auto overflow-x-auto scrolling-touch bg-white text-altGray-900 xs:text-lg 2xl:text-xl 2xl:max-w-screen-xl">
    {%- if skills -%}
    <div class="flex-none w-auto px-6 md:flex-auto">
      {%- assign skills = skills | join: ',&nbsp; ' -%}
      <h3 class="mb-1 font-medium font-edgy">Expertise</h3>
      <h4 class="opacity-75">{%- for item in skills -%} {{ item }} {%- endfor -%}</h4>
    </div>
    {%- endif -%}
    {%- if platforms -%}
    <div class="flex-none w-auto px-6 md:flex-auto">
      {%- assign platforms = platforms | join: ',&nbsp; ' -%}
      <h3 class="mb-1 font-medium font-edgy">Platforms</h3>
      <h4 class="opacity-75">{%- for item in platforms -%} {{ item }} {%- endfor -%}</h4>
    </div>
    {%- endif -%}
    {%- if role -%}
    <div class="flex-none w-auto px-6 md:flex-auto">
      <h3 class="mb-1 font-medium font-edgy">Role</h3>
      <h4 class="opacity-75">{{role}}</h4>
    </div>
    {%- endif -%}
    {%- if year -%}
    <div class="flex-none w-auto px-6 md:flex-auto">
      <h3 class="mb-1 font-medium font-edgy">Year</h3>
      <h4 class="opacity-75">{{year}}</h4>
    </div>
    {%- endif -%}
  </aside>
  </div>

  {{content}}

</article>
<section class="px-4 py-8 bg-altGray-900 sm:py-12 md:py-14 sm:px-6 lg:px-0">

  <div class="max-w-2xl mx-auto">
    <h2 class="mb-6 text-2xl font-medium sm:mb-8 lg:mb-10 font-edgy">Up next <span class="inline-block ml-2 opacity-50">↘</span></h2>
  </div>

  <ul class="grid max-w-2xl gap-6 mx-auto xs:grid-cols-2 xl:max-w-3xl sm:gap-8 md:gap-10 grid--up-next">

  {% if previousPost %}

  {% include partials/case-study-item.html post="previous" %}

  {% endif %}

  {% if nextPost %}

  {% include partials/case-study-item.html post="next" %}

  {% endif %}
  </ul>

</section>