<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} &ndash; {{page.description}}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        {% include symbol-defs.svg %}

    </head>
    <body class="bg-gray pa4-l sans-serif near-black">
      <main class="bg-white overflow-hidden z-1 relative shadow-4">
        <nav class="db dt-l w-100 border-box pa4 ph5-l relative z-1">
          <div class="db dtc-l v-mid w-100 w-25-l tc tl-l ">
            <a class="black link" href="{{site.baseurl}}" title="Home">
              <h1 id="logo" class="f7 b dib">mckvr</h1>
            </a>
          </div>
          <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <a class="link hover-black gray b f7 dib mr3 mr5-l" href="{{site.baseurl}}/blog" title="Home">Blog</a>
            <a class="link hover-black gray b f7 dib mr3 mr5-l" href="{{site.baseurl}}/projects" title="How it Works">Projects</a>
            <a class="link hover-black gray b f7 dib" href="{{site.baseurl}}/hire-me" title="Blog">Hire me</a>
          </div>
        </nav>

        {{content}}
        <!-- <div class="center pv4 tc">
          <svg class="icon icon-sm near-black">
            <use xlink:href="#icon-cross"></use>
          </svg>
        </div> -->
      </main>
    </body>

    <script src="{{site.baseurl}}/js/lazysizes.js"></script>
    <script src="{{site.baseurl}}/js/baffle.min.js"></script>
    <script src="{{site.baseurl}}/js/dist/main.js"></script>

</html>
