<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="google-site-verification" content="cIAuNiL_hF5sx4i3bG0gDN38_CJ8TgKdtG8HJPPIo8E" />
        <title>{{ page.title }} &ndash; {%if page.description%} {{page.description}} {%else%} {{site.name}} {%endif%}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}{{site.imageurl}}/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}{{site.imageurl}}/favicon-16x16.png">
        <link rel="mask-icon" href="{{site.baseurl}}{{site.imageurl}}/safari-pinned-tab.svg" color="#555555">
        <meta name="theme-color" content="#ffffff">


        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Web Application Manifest -->
        <link rel="manifest" href="{{site.baseurl}}/manifest.json">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="{{site.name}}">
        <link rel="icon" sizes="192x192" href="{{site.baseurl}}{{site.imageurl}}android-chrome-192x192.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
        <meta name="apple-mobile-web-app-title" content="{{site.name}}">
        <link rel="apple-touch-icon" href="{{site.baseurl}}{{site.imageurl}}/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/mstile-150x150.png">
        <meta name="msapplication-TileColor" content="#ffffff">


        <!-- Open Graph Metadata -->
        <meta property="og:url" content="{{site.baseurl}}{{page.url}}" />
        <meta property="og:title" content="{%if page.title%} {{page.title}} {%else%} {{site.name}} {%endif%}" />
        <meta property="og:description" content="{%if page.description%} {{page.description}} {%else%} {{site.description}} {%endif%}" />
        <meta property="og:image" content="{{site.baseurl}}{{site.imageurl}}{%if page.card_image == true%}{{page.title | downcase | slugify | prepend: "card-image-" | append: ".png" }}{%else%}/card-image.png{%endif%}" />

        <!-- Twitter Card Metadata -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="{{site.social.twitter.username | prepend: "@" }}" />
        <meta name="twitter:title" content="{%if page.title%} {{page.title}} {%else%} {{site.name}} {%endif%}" />
        <meta name="twitter:description" content="{%if page.description%} {{page.description}} {%else%} {{site.description}} {%endif%}" />
        <meta name="twitter:image" content="{{site.baseurl}}{{site.imageurl}}{%if page.card_image == true%}{{page.title | downcase | slugify | prepend: "card-image-" | append: ".png" }}{%else%}/card-image.png{%endif%}" />

        {% include symbol-defs.svg %}

    </head>
    <body class="{%if page.url contains "404"%}bg-white{%else%}bg-gray{%endif%} pa4-l sans-serif near-black">
      <main class="overflow-hidden z-1 relative shadow-7 {%if page.url contains "404"%}bg-black cover bg-center{%else%}bg-white{%endif%}">
        <nav class="db dt-ns w-100 border-box pv3 pv4-ns ph4-m ph5-l relative z-1">
          <div class="db dtc-ns v-mid w-100 w-25-ns tc tl-ns">
            <a class="{%if page.url contains "404"%}white{%else%}black{%endif%} link pv2 dib pv0-ns" href="{{site.baseurl}}/" title="Home">
              <h1 id="logo" class="f7 f7-ns b dib">mckvr</h1>
            </a>
          </div>
          <div class="dtc-ns v-mid w-100 w-75-ns tc tr-ns mt2 mt0-ns">
            {% for item in site.navigation %}
              {% assign class = nil %}
              {% if page.url contains item.url %}
                  {% assign class = 'active' %}
              {% endif %}
              <a href="{{ item.url }}" class="{{ class }} link {%if page.url contains "404"%}hover-white{%else%}hover-black{%endif%} gray b f6 f7-ns dib {% if forloop.last == true %} {%else%} mr4 mr5-ns {%endif%}" title="{{item.title}}">
                {{ item.title }}
              </a>
            {% endfor %}
          </div>
        </nav>

        {{content}}

      </main>
    </body>

    <!-- <script src="{{site.baseurl}}/js/lazysizes.js"></script>
    <script src="{{site.baseurl}}/js/lightense.js"></script> -->
    <!--<script src="{{site.baseurl}}/js/dist/lastfm-listener.js"></script> -->
    <script async defer src="{{site.baseurl}}/js/dist/vendor.js"></script>
    <script async defer src="{{site.baseurl}}/js/dist/main.js"></script>

    <script>
    (function() {
      function a() {
        var b = baffle('#logo').start().set({
          characters: '░█▓ ▓▒░<>/',
          speed: 60
        }).text(function (currentText) {

          {%if page.url contains "category"%}
          return "mckvr | Archives";
          {%elsif page.id != "index"%}
          return "mckvr | {{page.canonical}}";
          {%else%}
          return "mckvr";
          {%endif%}
        });

        setTimeout(function () {
          b.reveal(500);
        }, 500);
      }

      function b() {
        var b = baffle('#logo').start().set({
          characters: '░█▓ ▓▒░<>/',
          speed: 60
        }).text(function (currentText) {
          return "mckvr";
        });

        setTimeout(function () {
          b.reveal(500);
        }, 500);
      }

      function c() {
        var b = baffle('#logo').start().set({
          characters: '░█▓ ▓▒░<>/',
          speed: 60
        }).text(function (currentText) {
          {%if page.id == "index"%}
          return "Michael Mckeever";
          {%else%}
          return "Back Home";
          {%endif%}
        });

        setTimeout(function () {
          b.reveal(500);
        }, 500);
      }
      {%if page.id == "index"%}
      window.onload=function(){b();};
      {%else%}
      window.onload=function(){a();};
      {%endif%}
      document.getElementById('logo').onmouseover=function(){c();};
      document.getElementById('logo').onmouseleave=function(){a();};
    })();
    </script>

</html>
