---
layout: case-study
---
{%- if page.intro -%}
  {% include partials/case-study-intro.html %}
{%- endif -%}


<!-- <section class="{% include classes/case-study-section.html bgColor='white' textColor='altGray-900' %}">
  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

    {% include partials/case-study-h2.html title="Some wider context first..." %}

    {% include partials/case-study-p.html content="At Sweepr, we are creating a method of self-diagnosing technology problems in your own home using a multitude of mediums. This is primarily on your smartphone but also using voice assistants and devices such as Google Home & Alexa Show." %}

    {% include partials/case-study-p.html content="These self-care 'interactions' are built with another Sweepr tool, the Interaction Editor (kinda like a CMS), to enable organisations to develop their own 'resolutions' for their customers." %}

    {% include partials/case-study-p.html content="For instance, Virgin Media may use our product to develop a series of self-care use cases around their service. One example being walking a user through how to help solve a problem if their internet is slow." %}

  </div>

</section> -->

<section class="{% include classes/case-study-section.html bgColor='altGray-900' textColor='white' %}">
  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-white">
        {% include partials/case-study-h2.html title="How Sweepr works" %}

        {% include partials/case-study-p.html content="This video, that I prototyped & art directed, shows an example interaction of Sweepr helping to solve a problem with Zoom." %}
    </div>

    {% include partials/video.html video="nuvo-zoom-buffering-confident.mp4" poster="zoom-is-buffering-poster.webp" classes="max-w-6xl mx-auto py-12" %}

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-200' textColor='altGray-900' %}">
  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
    {% include partials/case-study-h2.html title="The problems to solve" %}

    <ol class="{% include classes/case-study-list.html %}">
        <li>Our custom markup language, SweeprMarkup, was <span class="{% include classes/highlight.html %}">too restrictive and limiting</span> for both design and client requirements. We required a more flexible language to enable these growing requirements.</li>
        <li>There was no cohesive design language or styling framework in place, leading to inconsistencies between projects & clients and an <span class="{% include classes/highlight.html %}">unsatisfactory mobile experience</span>.</li>
        <li>No system in place for interactions other than with a smartphone device meant that our <span class="{% include classes/highlight.html %}">framework was limited</span>.</li>
    </ol>

  </div>
</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-100' textColor='altGray-900' %}">
  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
    {% include partials/case-study-h2.html title="The component library tree" %}
  </div>

    {% include partials/figure.html alt="Design system tree" directory="multimodal" image="design-system-map@2x" type="png" width="1280" height="753" %}

  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
    {% include partials/case-study-p.html color="altGray-900" content="In Figma, our design tool of choice at Sweepr, you can create shared component libraries that are accessible within other libraries." %}

    {% include partials/case-study-p.html color="altGray-900" content="We used this to create a hierarchy of libraries for use across our products." %}

    {% include partials/case-study-h2.html title="The parent library" color="altGray-900" %}

    {% include partials/case-study-p.html color="altGray-900" content="The parent or main library, our design system called 'Oasis', would contain components that could be used globally such as typography, colors, spacing & layout." %}
  </div>

  {% include partials/figure.html alt="Oasis Design system preview" directory="multimodal" image="oasis-ds-preview@2x" type="png" width="1280" height="674" %}

  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">

    {% include partials/case-study-h2.html title="Mobile and Voice UI libraries" color="altGray-900" %}

    {% include partials/case-study-p.html color="altGray-900" content="Parent components for that specific medium would be contained here. Such as, mobile interaction patterns, mobile specific components, voice UI templates etc." %}

  </div>

  {% include partials/figure.html alt="Mobile Design system preview" directory="multimodal" image="mobile-ds-preview" type="jpg" width="1280" height="726" max-width="max-w-screen-2xl" %}

  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
    {% include partials/case-study-h2.html title="Customer libraries" color="altGray-900" %}

    {% include partials/case-study-p.html color="altGray-900" content="These component libraries would be used for 'overwriting' components from the parent library. For instance, overwriting buttons or typography to fit the brand guidelines of the customer." %}
  </div>

  {% include partials/figure.html alt="Customer design systems" directory="multimodal" image="customers" type="png" max-width="max-w-screen-2xl" %}

  <div class="{% include classes/case-study-text-container.html %}">
    <div class="prose lg mb-6 sm:mb-12">
        {% include partials/case-study-p.html color="altGray-900" content="The reason for all this modularity is so that our design system would be flexible and theme-able for various customers. If one customer had a specific request for a certain component, it wouldn't require having to update the whole system." %}

        {% include partials/case-study-p.html color="altGray-900" content="I was responsible for creating and maintaining these libraries and ensuring they were implemeted for both the design and engineering to ensure a cohesive design system was in place." %}
    </div>
  </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-200' textColor='altGray-900' %}">
  <div class="{% include classes/case-study-text-container.html %}">
    {% include partials/case-study-h2.html title="Layout templates" color="altGray-900" %}

    <div class="prose">
        {% include partials/case-study-p.html color="altGray-900" content="Another problem was inconsistency between our step templates. To help combat this I created 3 layout templates based on the most common media sizes (4x3, 16x9 & 1x1)." %}
    </div>

  </div>

    <div class="{% include classes/case-study-scroller.html%}">
        <figure class="flex-none w-11/12 md:w-3/4 px-4 sm:px-6 md:px-8">
          <picture class="shadow-lg lg:shadow-xl xl:shadow-2xl">
            <source type="image/webp" data-srcset="/images/multimodal/step-layouts-wireframes.webp" />
            <source type="image/png" data-srcset="/images/multimodal/step-layouts-wireframes.png" />
            <img class="w-full lazy" data-src="/images/multimodal/step-layouts-wireframes.png" alt="Sweepr step layouts">
          </picture>
          <figcaption class="py-6 lg:py-10 lg:text-lg text-altGray-900">The layout template wireframes</figcaption>
        </figure>
        <figure class="flex-none w-11/12 md:w-3/4 px-4 sm:px-6 md:px-8">
          <picture class="shadow-lg lg:shadow-xl xl:shadow-2xl">
            <source type="image/webp" data-srcset="/images/multimodal/step-layouts-content.webp" />
            <source type="image/png" data-srcset="/images/multimodal/step-layouts-content.png" />
            <img class="w-full lazy" data-src="/images/multimodal/step-layouts-content.png" alt="Sweepr step layouts">
          </picture>
          <figcaption class="py-6 lg:py-10 lg:text-lg text-altGray-900">Using the layout templates 'in the wild'.</figcaption>
        </figure>
    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='white' textColor='altGray-900' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} mb-12 sm:mb-24 text-altGray-900">
        {% include partials/case-study-h2.html title="Persona based design" %}

            {% include partials/case-study-p.html color="altGray-900" content="At Sweepr, one of our key product features is that we design self-care to fit the technical confidence of the user." %}

            {% include partials/case-study-p.html color="altGray-900" content="We do this by providing self-care content to fit <strong>3 different persona groups</strong>." %}

    </div>

    {%- for item in page.personas -%}
    <div class="mx-auto max-w-screen-lg mb-12 md:mb-24 px-4 sm:px-6 md:px-0">
        <h2 class="font-medium font-edgy text-xl xs:text-2xl sm:text-3xl mb-4 md:mb-6 text-altGray-900">{{item.title}}</h2>
        <div class="flex flex-col sm:space-x-12 md:space-x-16 sm:flex-row mt-6 sm:mt-12">
            <div class="w-1/2 sm:w-3/12 mx-auto">
                <img loading="lazy" src="/images/multimodal/{{item.image}}.png" alt="{{item.image}} persona">
            </div>
            <div class="sm:w-9/12 {% include classes/prose.html %} text-altGray-900">
                <blockquote>
                    <p class="xs:text-lg sm:text-xl md:text-2xl not-italic font-normal">{{item.quote}}</p>
                    <cite class="font-edgy font-medium text-altGray-600 not-italic">&mdash; {{item.cite}}</cite>
                </blockquote>
                <ul class="{% include classes/case-study-list.html %} text-altGray-900">
                    {%- for list in item.points -%}
                    <li>{{list}}</li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
    {%- endfor -%}

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-900' textColor='white' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-white">
        {% include partials/case-study-h2.html title="Differentiating the designs on persona" %}
        {% include partials/case-study-p.html content="Because we have these 3 personas, each with their own methods of interacting with technology, it was important to bring these learnings into the designs of our self-care." %}

        {% include partials/case-study-p.html content="One of my first experiments was taking one of Sweepr's key offerings — diagnostics of a user's home network — and creating a new step type for these, based on the persona of the user." %}

    </div>

    {% include partials/video.html video="persona-diagnostics.mp4" classes="max-w-6xl mx-auto py-12" poster="persona-diagnostics-poster.webp" %}

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-white">
        {% include partials/case-study-p.html content="Communicating the status of a user's network is hugely important but for avoidant users all these metrics could be confusing and overwhelming. Therefore, for an avoidant user, we display a simplified version of the diagnostics." %}
    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='white' textColor='altGray-900'%}">
  <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
    {% include partials/case-study-h2.html title="High-fidelity prototypes" %}

    {% include partials/case-study-p.html content="I encorporated the idea of using high-fidelity prototypes (created with <a href='https://protopie.com'>Protopie</a>) with our designs for user testing and prototyping new features. This provided a number of benefits:" %}

    <ul class="{% include classes/case-study-list.html  %}">
        <li>You can create prototypes that look and feel like a real app without writing one line of code. You can even do voice recognition 🤯</li>
        <li>More stable for demoing and testing than a build</li>
        <li>Making changes on the fly was easier than if it were coded</li>
    </ul>
  </div>

{% include partials/video.html video="sweepr-early-prototype.mp4" classes="max-w-6xl mx-auto py-12" caption="An early, exploratory prototype I made to demo some new potential features for our product." %}


<div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

    {% include partials/case-study-h2.html title="The problems to solve" %}

    <ul class="{% include classes/case-study-list.html color='altGray-900' %}">
        <li>It would take <span class="bg-yellow-300 font-edgy">50-100% more time</span> to create a high-fidelity prototype in Protopie than in Figma (lower fidelity).</li>
        <li>Not ideal for customer projects where timelines were short</li>
        <li>No component library in place means <span class="bg-yellow-300 font-edgy">inconsistency between prototypes</span> and more time spent recreating components</li>
    </ul>

    {% include partials/case-study-h2.html title="Solution: creating an interaction library" %}

</div>

{% include partials/video.html video="interactive-library.mp4" classes="max-w-6xl mx-auto py-12" controls="false" attributes="playsinline loop autoplay muted" %}


<div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

    {% include partials/case-study-p.html content="As part of our mobile design system, I created an interaction library that meant interactions, components, animations & structure could be shared between files. The results of this spoke for themselves:" %}

    <ul class="{% include classes/case-study-list.html %}">
        <li>The length of time to create a prototype for a customer project was <span class="bg-yellow-300 font-edgy">reduced by 60%</span></li>
        <li><span class="bg-yellow-300 font-edgy">Greater consistency between files</span> now using a shared library</li>
        <li>Each library could now be duplicated for other customers or projects, <span class="bg-yellow-300 font-edgy">which reduced time to create prototypes</span> across the board</li>
        <li>Creating high-fidelity prototypes for timely customer projects went from a <span class="bg-yellow-300 font-edgy">'nice to have' to 'key process'</span></li>
    </ul>
</div>


</section>


<section class="{% include classes/case-study-section.html bgColor='altGray-300' textColor='altGray-900' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
        {% include partials/case-study-h2.html title="Designing and building an Alexa design system" %}

        {% include partials/case-study-p.html color="altGray-900" content="A client had requested a POC of Sweepr running an interaction on an Alexa Show device so I was responsible for designing our step templates to fit into Alexa's design language and then taking the designs and developing a Skill using APL &mdash; Alexa Presentation Language." %}
    </div>

    <div class="{% include classes/case-study-scroller.html%}">
        {%- for item in page.alexa -%}
        <figure class="flex-none w-11/12 sm:w-2/3 xl:w-7/12 px-4 sm:px-6 md:px-8">
            <picture class="shadow-lg lg:shadow-xl xl:shadow-2xl">
              <source type="image/webp" data-srcset="/images/multimodal/{{item.image}}.webp" />
              <source type="image/png" data-srcset="/images/multimodal/{{item.image}}.png" />
              <img class="w-full lazy shadow-xl md:shadow-2xl" data-src="/images/multimodal/{{item.image}}.png" alt="{{item.alt}}">
            </picture>
            <figcaption class="py-6 lg:py-10 lg:text-lg text-altGray-900">{{item.caption}}</figcaption>
        </figure>
        {%- endfor -%}
    </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">
        {% include partials/case-study-h2.html title="Constraints" %}

        {% include partials/case-study-p.html content="Working with APL and Amazon's design language was interesting. There were a particular number of constraints and limitations to overcome and adapt to. When it came to creating the steps in APL, you were quite limited with what you could do. For instance, being limited to Amazon's typography, no animations, limited styling capabilities etc." %}

        {% include partials/case-study-h2.html title="Developing Voice UIs" %}

        {% include partials/case-study-p.html content="Alongside our copywriter, I worked on designing and developing voice UIs to accompany our usecases to make them truly multimodal." %}

    </div>

    {% include partials/figure.html directory="multimodal" image="voice-ui" type="png" alt="Alexa voice UI"  max-width="max-w-3xl" %}

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">

        {% include partials/case-study-p.html content="In conjunction with this, we also expanded our design system to support voice UIs, taking into account tone of voice, pacing, length etc for our 3 different persona groups." %}

    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-100' textColor='altGray-900' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
        {% include partials/case-study-h2.html title="Developing the front-end for our mobile design system"  %}

        {% include partials/case-study-p.html color="altGray-900" content="I also worked as the front-end lead to play a key role in switching from SweeprMarkup to HTML for our step templates. This involved:" %}

        <ul class="{% include classes/case-study-list.html color='altGray-900' %}">
            <li>Creating <span class="{% include classes/highlight.html %}">compliant, performant HTML</span> for each of the step types on our framework</li>
            <li>Writing <span class="{% include classes/highlight.html %}">ES6 Javascript</span> to power the interaction layer</li>
            <li>Creating a CSS system that is <span class="{% include classes/highlight.html %}">small, modern, flexible and themeable</span></li>
            <li>Designing & <span class="{% include classes/highlight.html %}">developing a documentation site</span> for our design system, Oasis</li>
        </ul>

    </div>

    <div class="{% include classes/case-study-text-container.html %} mt-12 sm:mt-24 {% include classes/prose.html %} text-altGray-900">
        {% include partials/case-study-h2.html title="Oasis documentation website" %}
    </div>

    {%- include partials/case-study-browser-frame.html directory="multimodal" image="oasis-home" type="jpg" alt="Oasis Homepage" classes="mt-6 md:mt-10 xl:mt-12" -%}

    <div class="{% include classes/case-study-text-container.html %} my-12 sm:my-24 {% include classes/prose.html %} text-altGray-900">
        {% include partials/case-study-p.html content="I created a comphrehensive documentation website to showcase and explain the Oasis design system, its components and the step types." %}

        {% include partials/case-study-p.html content="For those nerdy enough to care, the tech stack was as follows:" %}

        <ul class="{% include classes/case-study-list.html %}">
            <li>Jekyll for static site generation and content management</li>
            <li>Tailwind for powering both the CSS for the documentation and the framework</li>
            <li>Gulp to browserwatch, minify and treeshake the CSS and compile JS</li>
            <li>Localstorage-enabled theme switcher and device preview to view different customer themes at different phone sizes</li>
            <li>Firebase auth for handling login</li>
        </ul>
    </div>

    {%- include partials/case-study-browser-frame.html directory="multimodal" image="oasis-diagnostic-step" type="jpg" alt="Oasis Diagnostic Steps Page" -%}

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
        {% include partials/case-study-p.html content="As a now fully-remote team, communication and staying in sync becomes more challenging. Especially when I was now working between both design & development teams. This meant that communicating my changes, feedback and process had to be vigilant. For each step I implemented: " %}

        <ul class="{% include classes/case-study-list.html %}">
            <li><span class="{% include classes/highlight.html %}">Version control</span> and changelog for tracking and documentating changes</li>
            <li>A <span class="{% include classes/highlight.html %}">code preview</span> for the HTML and JS for each step, along with the last time it was updated</li>
            <li>Documentation outlining how the interaction of that particular step functions</li>
            <li>A phone preview and <span class="{% include classes/highlight.html %}">theme switcher</span> so developers can quickly switch themes and devices</li>
        </ul>
</section>

{%- include partials/testimonial.html -%}