---
layout: case-study
sitemap: false
hidden: true
---
{%- if page.intro -%}
  {% include partials/case-study-intro.html %}
{%- endif -%}


<section class="{% include classes/case-study-section.html bgColor='altGray-300' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">
            {% include partials/case-study-h2.html title="The problem" %}

            {% include partials/case-study-p.html content="Various quantitive and qualitative data has pointed out that the user onboarding for the 1Password Admin Console is insufficient. It doesn't do a good job of guiding the user down a path of getting setup. Instead, it mainly leaves it up to the user to figure things out." %}

    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-900' textColor='white' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-white">
      {% include partials/case-study-h2.html title="The Team" %}

      {% include partials/case-study-p.html content="First things first, when I refer to ‘we’ in this case study, I am collectively referring to these individuals (and many others), who each played a part in making this project come to life:" %}
      
    </div>

    <div class="p-6 overflow-hidden min-h-screen relative">

      {% include partials/floaty-boi.html name="Max Applin" role="Team Lead" type="1" %}

      {% include partials/floaty-boi.html name="Sasha VanHoven" role="Content Lead" type="2" %}

      {% include partials/floaty-boi.html name="Chris Burgin" role="Tech Lead" type="3" %}

      {% include partials/floaty-boi.html name="Samaher Ramzan" role="Research Lead" type="4" %}

      {% include partials/floaty-boi.html name="Whymarrh Whitby" role="Sr Developer" type="5" %}


    </div>
  
</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-300' textColor='altGray-900' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
      {% include partials/case-study-h2.html title="Research" %}

      {% include partials/case-study-h3.html title="User Journey" %}

      {% include partials/case-study-p.html content="In order to get an understanding of the pain points a user faces when signing up to 1Password I created this user journey." %}
    </div>

    <div class="p-4">
        <iframe class="lazy w-full h-screen" style="border: 1px solid rgba(0, 0, 0, 0.1);" data-src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FNeaXzaXc8TZePFIYZrIJxV%2FUntitled%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
    </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
        {% include partials/case-study-p.html content="It proved useful in diagnosing issues where a user may face problems or frustrations within the admin console, such as:" %}

        <ul class="list text-{{include.color}} xs:text-lg sm:text-xl md:text-2xl text-altGray-900 pb-4 sm:pb-6">
            <li>Displaying a payment modal on first use of the product</li>
            <li>Not explaining core concepts such as vaults</li>
        </ul>
        
        {% include partials/case-study-h3.html title="Onboarding Training Sessions" %}

        {% include partials/case-study-p.html content="At 1Password we actually have a dedicated customer onboarding team that will walk user’s through the product on a zoom call and answer any questions they may have. These are a great experience for the user but naturally, not very scalable, as each call is around an hour each." %}

        {% include partials/case-study-p.html content="I sat in on a few of these calls to understand how our team walked user’s through the product and to see how user’s interpreted the product." %}

        </div>

        <div class="max-w-4xl mx-auto">
            {% include partials/figure.html alt="1Password Onboarding call screenshot" directory="1password-onboarding" image="user-onboarding-arnold" type="jpg" width="700" height="557" %}
        </div>
        

        <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

        {% include partials/case-study-p.html content="Some key takeaways from the calls:" %}

        <ul class="list text-{{include.color}} xs:text-lg sm:text-xl md:text-2xl text-altGray-900">
            <li>User’s generally <span class='font-edgy font-medium bg-yellow-300'>understand the concept of vaults</span></li>
            <li>User’s usually <span class='font-edgy font-medium bg-yellow-300'>create groups of people</span> and add those groups to vaults</li>
            <li>Business/Teams User’s are generally unsure about Family Accounts and how to set them up</li>
        </ul>

        {% include partials/case-study-h3.html title="Heuristic Evaluation" %}

        {% include partials/case-study-p.html content="In order to get an understanding of the types of tasks a user might struggle with when first using the admin console, I reviewed an existing heuristic evaluation undertaken by our research team." %}
      </div>

      <div class="max-w-5xl mx-auto">
        {% include partials/figure.html alt="1Password Heuristic Evaluation" directory="1password-onboarding" image="heuristic-eval" type="png" width="896" height="320" img_classes="rounded-lg overflow-hidden shadow-sm" %}
      </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

        {% include partials/case-study-p.html content="Tasks that some users where struggling with included:" %}

        <ol class="list text-{{include.color}} xs:text-lg sm:text-xl md:text-2xl text-altGray-900">
            <li>Creating a vault</li>
            <li>Importing passwords to a vault</li>
            <li>Installing 1Password on secondary devices</li>
            <li>Adding items to a vault</li>
            <li>Inviting users</li>
            <li>Creating groups</li>
            <li>Setting up Billing</li>
        </ol>
        
        <div class="mt-12 sm:mt-16">
        {% include partials/case-study-h3.html title="Better Onboarding" %}
        </div>

        <p class="xs:text-lg sm:text-xl md:text-2xl leading-extra-relaxed text-altGray-900"><a href="https://www.kryshiggins.com/">Krystal Higgin’s</a> book <a href="https://abookapart.com/products/better-onboarding">Better Onboarding</a> was essential reading when it came to understanding onboarding concepts and the best practices in integrating them. One of the key takeaways for me was <span class='font-edgy font-medium bg-yellow-300'>visualising onboarding as an ever-changing, ever-evolving feature of the product that adapts and grows.</span> Rather than a one-off “design it and ship it!” feature that stays static until it’s next redesign.</p>

      </div>

      <div class="max-w-4xl mx-auto">
        {% include partials/figure.html alt="Photo of Better Onboarding book by Krystal Higgins" directory="1password-onboarding" image="better-onboarding" type="jpg" width="896" height="640"%}
      </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900 mt-12 sm:mt-16">

        {% include partials/case-study-h3.html title="Useronboard.com" %}

        <p class="xs:text-lg sm:text-xl md:text-2xl leading-extra-relaxed text-altGray-900">Another fantastic resource was <a href="//useronboard.com">useronboard.com</a>. It does "teardowns" of product’s onboarding flows with annotations and fun commentary showcasing what works and what doesn’t quite work. It makes for great qualitative research.</p>

      </div>

      <div class="{% include classes/case-study-scroller.html%}">
        {%- for i in (1..3) -%}
        <figure class="flex-none w-11/12 md:w-1/3 px-2 sm:px-4">
            <picture>
                <source type="image/webp" data-srcset="/images/1password-onboarding/useronboard-{{i}}.webp" />
                <source type="image/jpg" data-srcset="/images/1password-onboarding/useronboard-{{i}}.jpg" />
                <img class="w-full lazy shadow-lg" width="2400" height="1600" data-src="/images/1password-onboarding/useronboard-{{i}}.jpg" alt="Useronboard.com">
            </picture>
        </figure>
        {%- endfor -%}
    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-200' textColor='altGray-900' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
      {% include partials/case-study-h2.html title="Wireframing exploration" %}

      {% include partials/case-study-p.html content="Utilising the gathered research so far, I wireframed some concepts of how onboarding could be approached for the admin console." %}

      {% include partials/case-study-h2.html title="Concept 1: Unopinionated" %}

      {% include partials/case-study-p.html content="Onboarding tasks are displayed within a linear timeline view. Each task item would have a finished and unfinished state to visualise which onboarding tasks have been completed. Tasks could be completed in any order the user wishes but this view would heavily suggest completing tasks in a recommended order." %}

      {% include partials/case-study-h3.html title="Option 1: Task timeline" %}
      </div>

      <div class="max-w-5xl mx-auto">
        {% include partials/figure.html alt="Onboarding Wireframe Concept 1 - Option 1" directory="1password-onboarding" image="wireframe-concept-1-option-1" type="png" width="896" height="320" img_classes="rounded overflow-hidden shadow-xl" %}
      </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

      {% include partials/case-study-p.html content="Tasks are displayed horizontally within a large card. Once a task is complete, the task is marked as done and the progress indicator updates. A user can manually interact with the timeline using the arrows or they can complete each task in a linear fashion." %}

      {% include partials/case-study-h3.html title="Option 2: Popover" %}

      </div>

      <div class="max-w-5xl mx-auto">
        {% include partials/figure.html alt="Onboarding Wireframe Concept 1 - Option 2" directory="1password-onboarding" image="wireframe-concept-1-option-2" type="png" width="896" height="320" img_classes="rounded overflow-hidden shadow-xl" %}
      </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

      {% include partials/case-study-p.html content="Tasks are displayed in a vertical timeline within a popover. This would mean that the timeline is separated from the home page itself and instead would “follow” the user around the web app until tasks are completed or it is dismissed." %}

      {% include partials/case-study-h2.html title="Concept 2: Opinionated full-page timeline" %}

    </div>

    <div class="max-w-5xl mx-auto">
        {% include partials/figure.html alt="Onboarding Wireframe Concept 2" directory="1password-onboarding" image="wireframe-concept-2" type="png" width="896" height="320" img_classes="rounded overflow-hidden shadow-xl" %}
      </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
      
      {% include partials/case-study-p.html content="Onboarding tasks are displayed within a linear timeline view. Each task item would have a finished and unfinished state to visualise which onboarding tasks have been completed. Unlike the unopinionated view, tasks would need to be completed in the outlined order." %}

      {% include partials/case-study-h2.html title="Concept 3: Choose your own path" %}

    </div>

      <div class="max-w-5xl mx-auto">
        {% include partials/figure.html alt="Onboarding Wireframe Concept 3" directory="1password-onboarding" image="wireframe-concept-3" type="png" width="896" height="320" img_classes="rounded overflow-hidden shadow-xl" %}
      </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

      {% include partials/case-study-p.html content="Choose your own path takes a less linear approach to onboarding and instead presents the user with a series of options to choose from." %}

      {% include partials/case-study-p.html content="When a user first logs onto the web app they are presented with this onboarding view page rather than the default home page. They will be presented with a series of options to choose from in order to start their onboarding journey. For example:" %}

      <ol class="list text-{{include.color}} xs:text-lg sm:text-xl md:text-2xl text-altGray-900">
        <li>Import your passwords</li>
        <li>Create a shared vault</li>
        <li>Invite your team</li>
      </ol>

      {% include partials/case-study-h2.html title="Deciding on a concept" %}

      {% include partials/case-study-p.html content="Due to project constraints, it wasn’t possible to validate any of the concepts through user testing, so an executive decision was made to go with Concept 1 - Option 1 (Horizontal Task timeline)." %}

      {% include partials/case-study-h2.html title="Wireframe Prototype" %}


    </div>

    <div class="p-4 max-w-6xl mx-auto">
        <iframe class="lazy w-full max-w-screen-xl min-h-screen h-full my-12 mx-auto px-4 sm:px-6 lg:px-0" data-src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FNeaXzaXc8TZePFIYZrIJxV%2F1Password%3Fpage-id%3D104%253A245%26node-id%3D104%253A436%26viewport%3D501%252C48%252C0.15%26scaling%3Dcontain%26starting-point-node-id%3D104%253A436" allowfullscreen></iframe>
    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-100' textColor='altGray-900' %}">
    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
      {% include partials/case-study-h2.html title="Design" %}
      </div>

      <div class="max-w-5xl mx-auto">
        {% include partials/figure.html alt="Onboarding panel for 1Password Admin Console" directory="1password-onboarding" image="dashboard-onboarding" type="png" width="896" height="320" img_classes="rounded overflow-hidden shadow-xl" %}
      </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

      {% include partials/case-study-h2.html title="Creating the cards" %}
      </div>
      <div class="flex overflow-hidden ticker pt-24 pb-4">
          <ul class="ticker-list ticker-list--1 flex flex-shrink-0">
            {% for item in page.cards_1 %}
            <li class="flex-shrink-0 mr-4"><img class="w-full h-full" src="/images/1password-onboarding/{{item | slugify}}-card.svg" alt="{{item}} Card"></li>
            {% endfor %}
          </ul>
      </div>
      <div class="flex overflow-hidden ticker pb-24">
        <ul class="ticker-list ticker-list--2 flex flex-shrink-0">
          {% for item in page.cards_2 %}
          <li class="flex-shrink-0 mr-4"><img class="w-full h-full" src="/images/1password-onboarding/{{item | slugify}}-card.svg" alt="{{item}} Card"></li>
          {% endfor %}
        </ul>
    </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

      {% include partials/case-study-h3.html title="Card sorting" %}

      {% include partials/case-study-p.html content="We carried out a card sorting exercise to determine which onboarding cards to show to which type of user. For instance, team members can’t invite members or subscribe, so naturally it wouldn’t make sense to show them cards relating to those actions." %}
      </div>

      <div class="p-4 max-w-6xl mx-auto rounded-xl overflow-hidden">
        <iframe class="lazy w-full max-w-screen-xl min-h-screen h-full my-12 mx-auto px-4 sm:px-6 lg:px-0" data-src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FNeaXzaXc8TZePFIYZrIJxV%2F1Password%3Fnode-id%3D149%253A9192" allowfullscreen></iframe>
      </div>

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

      {% include partials/case-study-p.html content="The number of people on the account had to be taken into consideration. A business size of 10 or less is going to have different goals than a business size of 500+. For instance, small team sizes will be more likely to manually invite team members, whereas larger companies will want to opt for provisioning services such as Okta." %}

      
      {% include partials/case-study-h2.html title="Animating the cards" %}

      {% include partials/case-study-p.html content="In order to increase delight and engagement, I animated each of the card's illustrations that plays when the card is in view." %}
      </div>

      {% include partials/video.html video="card-animations.mp4" classes="max-w-4xl mx-auto py-12" poster="persona-diagnostics-poster.webp" autoplay="true" loop="true" controls="false" %}

      <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

      {% include partials/case-study-h2.html title="Creating an interactive prototype" %}

      {% include partials/case-study-p.html content="I used ProtoPie to create a interactive prototype to demonstrate the interactions and animations for the developers but also for running a usability test to determine which tasks a user carries out first and the effectiveness of the new onboarding approach." %}

      {% include partials/case-study-p.html content="You can interact with this prototype by clicking around. ✨" %}

    </div>

    <div class="p-4 mx-auto max-w-screen-xl relative shadow-xl my-12" style="padding-top: 49.9%">
        <iframe class="inset-0 w-full h-full lazy absolute " data-src="https://cloud.protopie.io/p/306a5f5a16?touchHint=true&ui=false&scaleToFit=true&cursorType=arrow&mockup=true&playerAppPopup=false" allowfullscreen></iframe>
    </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

    {% include partials/case-study-h2.html title="Usability testing" %}

    {% include partials/case-study-p.html content="I used ProtoPie to create an interactive prototype to demonstrate the interactions and animations for the developers but also for running a usability test to determine which tasks a user carries out first and the effectiveness of the new onboarding approach." %}

    {% include partials/case-study-h3.html title="The participants" %}

    
    </div>

    <div class="{% include classes/case-study-scroller.html%} space-x-8 sm:space-x-12">
        {%- for item in page.participants -%}
        <div class="flex-none flex justify-center w-10/12 sm:w-1/2 lg:w-1/4 xl:1/4 px-4">
          <article class="rounded-2xl bg-white shadow-2xl p-8 pt-4 text-altGray-900 flex flex-col space-y-4 max-w-sm w-full">
              <img class="w-48 text-center mx-auto" src="/images/1password-onboarding/{{item.name}}.svg" alt="{{item.name}} illustration">
              <header class="text-center flex flex-col">
                <h3 class="text-altGray-900 font-bold text-3xl m-0">{{item.name}}</h3>
              </header>
              <aside class="flex flex-col space-y-6">
                <div class="flex flex-col">
                  <h4 class="font-medium font-edgy">Role</h4>
                  <h5 class="opacity-75 text-lg m-0">{{item.role}}</h5>
                </div>
                <div class="flex flex-col">
                    <h4 class="font-medium font-edgy">Tools they use</h4>
                    <h5 class="opacity-75 text-lg m-0">{{item.tools}}</h5>
                </div>
                <div class="flex flex-col space-y-2">
                    <h4 class="font-medium font-edgy">Experience with password managers</h4>
                    <div class="w-full bg-altGray-300 h-2 rounded-full">
                      <div class="bg-altGray-900 h-2 rounded-full" style="width: {{item.experience}}%"></div>
                    </div>
                    
                </div>
              </aside>
            </article>
          </div>
        {%- endfor -%}
    </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
  
      {% include partials/case-study-p.html content="The participants were all new 1Password users, with various degrees of experience with password managers. Using the prototype, they were tasked with creating a 1Password business or teams account and getting it setup." %}


    </div>

<div class="flex flex-col max-w-screen-lg mx-auto mt-12 px-6 text-altGray-900">
  {% include partials/case-study-h3.html title="Positive Insights" %}
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-4">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden sm:rounded-lg">
        <table class="min-w-full">
          <thead class="bg-altGray-100 text-altGray-900">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-bold opacity-75 uppercase tracking-wider">
                Action
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-bold opacity-75 uppercase tracking-wider">
                Who did it
              </th>
            </tr>
          </thead>
          <tbody class="text-altGray-900 ">
            {% for item in page.positive_findings %}
            <tr class="">
              <td class="px-6 py-5 whitespace-nowrap bg-white rounded-lg">
                <p class="text-xl">{{item.insight}}</p>
              </td>
              <td class="px-6 py-5 whitespace-nowrap text-right flex flex-row space-x-1 items-center bg-white rounded-lg">
                {% for person in item.participants %}
                <img class="w-12 h-12 transform {% if person.active == 1 %} translate-y-0 hover:-translate-y-1 transition-transform duration-150 {% else %} opacity-50 scale-75 grayscale {% endif %}" src="/images/1password-onboarding/{{person.name | stringify}}.svg" alt="Illustration of {{person.name}}" title="{{person.name}}">
                {% endfor %}
              </td>
            </tr>
            {% endfor %}

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="flex flex-col max-w-screen-lg mx-auto mt-12 px-6 text-altGray-900">
  {% include partials/case-study-h3.html title="Neutral Insights" %}
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-4">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden sm:rounded-lg">
        <table class="min-w-full">
          <thead class="bg-altGray-100 text-altGray-900">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-bold opacity-75 uppercase tracking-wider">
                Action
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-bold opacity-75 uppercase tracking-wider">
                Who did it
              </th>
            </tr>
          </thead>
          <tbody class="text-altGray-900 ">
            {% for item in page.neutral_findings %}
            <tr class="">
              <td class="px-6 py-5 whitespace-nowrap bg-white rounded-lg">
                <p class="text-xl">{{item.insight}}</p>
              </td>
              <td class="px-6 py-5 whitespace-nowrap text-right flex flex-row space-x-1 items-center bg-white rounded-lg">
                {% for person in item.participants %}
                <img class="w-12 h-12 transform {% if person.active == 1 %} translate-y-0 hover:-translate-y-1 transition-transform duration-150 {% else %} opacity-50 scale-75 grayscale {% endif %}" src="/images/1password-onboarding/{{person.name | stringify}}.svg" alt="Illustration of {{person.name}}" title="{{person.name}}">
                {% endfor %}
              </td>
            </tr>
            {% endfor %}

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col max-w-screen-lg mx-auto mt-12 px-6 text-altGray-900">
  {% include partials/case-study-h3.html title="Negative Insights" %}
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-4">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden sm:rounded-lg">
        <table class="min-w-full">
          <thead class="bg-altGray-100 text-altGray-900">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-bold opacity-75 uppercase tracking-wider">
                Action
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-bold opacity-75 uppercase tracking-wider">
                Who did it
              </th>
            </tr>
          </thead>
          <tbody class="text-altGray-900 ">
            {% for item in page.negative_findings %}
            <tr class="">
              <td class="px-6 py-5 whitespace-nowrap bg-white rounded-lg">
                <p class="text-xl">{{item.insight}}</p>
              </td>
              <td class="px-6 py-5 whitespace-nowrap text-right flex flex-row space-x-1 items-center bg-white rounded-lg">
                {% for person in item.participants %}
                <img class="w-12 h-12 transform {% if person.active == 1 %} translate-y-0 hover:-translate-y-1 transition-transform duration-150 {% else %} opacity-50 scale-75 grayscale {% endif %}" src="/images/1password-onboarding/{{person.name | stringify}}.svg" alt="Illustration of {{person.name}}" title="{{person.name}}">
                {% endfor %}
              </td>
            </tr>
            {% endfor %}

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="flex flex-col max-w-screen-lg mx-auto mt-12 px-6 text-altGray-900">
  {% include partials/case-study-h2.html title="Research Findings" %}

  {% include partials/case-study-p.html content="The usability testing showed that the onboarding process was successful and development could go ahead. Participants did struggle with the concept of vaults however, so education methods would need to be explored there for future projects." %}
</div>


    <!-- <iframe 
            data-src="https://cloud.protopie.io/p/306a5f5a16?touchHint=true&ui=false&scaleToFit=true&cursorType=arrow&mockup=true&playerAppPopup=false" 
            width="100%"
            height="100%"
            frameborder="0"
            class="lazy bg-white shadow-xl max-w-screen-xl"
            >
        </iframe> -->

    <!-- <div class="browser-template max-w-screen-xl mx-auto overflow-hidden border-2 border-t-0 border-altGray-300 rounded-xl bg-white">
        <div class="browser-template__top-bar flex flex-wrap items-center p-3 bg-altGray-300">
            <ul class="browser-template__buttons flex">
                <li class="browser-template__buttons_item w-3 h-3 ml-2 rounded-full bg-altGray-500 ml-0"></li>
                <li class="browser-template__buttons_item w-3 h-3 ml-2 rounded-full bg-altGray-500"></li>
                <li class="browser-template__buttons_item w-3 h-3 ml-2 rounded-full bg-altGray-500"></li>
            </ul>
            
            <div class="browser-template__address flex-grow max-w-full rounded-lg bg-white mx-4 h-8"></div>
            
            <ul class="browser-template__controls flex">
                <li class="w-3 h-3 ml-0 text-altGray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"/></svg>
                </li>
                <li class="w-3 h-3 ml-4 text-altGray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M218.101 38.101L198.302 57.9c-4.686 4.686-4.686 12.284 0 16.971L353.432 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h341.432l-155.13 155.13c-4.686 4.686-4.686 12.284 0 16.971l19.799 19.799c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L235.071 38.101c-4.686-4.687-12.284-4.687-16.97 0z"/></svg>
                </li>
                <li class="w-3 h-3 ml-4 text-altGray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M483.515 28.485L431.35 80.65C386.475 35.767 324.485 8 256.001 8 119.34 8 7.9 119.525 8 256.185 8.1 393.067 119.095 504 256 504c63.926 0 122.202-24.187 166.178-63.908 5.113-4.618 5.353-12.561.482-17.433l-19.738-19.738c-4.498-4.498-11.753-4.785-16.501-.552C351.787 433.246 306.105 452 256 452c-108.321 0-196-87.662-196-196 0-108.321 87.662-196 196-196 54.163 0 103.157 21.923 138.614 57.386l-54.128 54.129c-7.56 7.56-2.206 20.485 8.485 20.485H492c6.627 0 12-5.373 12-12V36.971c0-10.691-12.926-16.045-20.485-8.486z"/></svg>
                </li>
            </ul>
        </div>
        
        <iframe 
            data-src="https://cloud.protopie.io/p/306a5f5a16?touchHint=true&ui=false&scaleToFit=true&cursorType=arrow&mockup=true&playerAppPopup=false" 
            width="100%"
            height="100%"
            frameborder="0"
            class="lazy bg-white"
            >
        </iframe>
    </div> -->

      <!-- <div class="p-4 max-w-6xl mx-auto rounded-xl overflow-hidden">
        <iframe class="lazy w-full max-w-screen-xl min-h-screen h-full my-12 mx-auto px-4 sm:px-6 lg:px-0" data-src="https://cloud.protopie.io/p/306a5f5a16?touchHint=true&ui=false&scaleToFit=true&cursorType=arrow&mockup=true&playerAppPopup=false" allowfullscreen></iframe>
      </div> -->
  
</section>

{%- include partials/testimonial.html -%}
