---
layout: default
---
<article>
  <div class="relative flex flex-col w-full max-w-5xl px-4 py-32 mx-auto 2xl:max-w-screen-xl sm:mt-0 sm:px-6 lg:px-8 xl:px-0">
    <h1 class="relative text-3xl leading-tight moveIn xs:text-4xl lg:text-5xl">
      {{ page.intro.title }}, <br /> <span class="inline-block antialiased font-medium moveIn text-neutralGray-700 font-edgy">it's memories & shit.</span>
    </h1>
  </div>

  <section class="grid gap-8 px-4 sm:mt-0 sm:px-6 lg:px-8 lg:grid-cols-3">
    {% for columns in site.data.photos.columns %}
    <div class="moveInSlow">
        {%- for item in columns.column -%}
        {% include partials/photo.html %}
        {%- endfor -%}
    </div>
    {% endfor %}
  </section>

</article>