---
layout: default
---
<article>
  {% include partials/hero-sm.html %}

  <section class="grid px-4 lg:gap-8 sm:mt-0 sm:px-6 lg:px-8 lg:grid-cols-3">
    {% for columns in site.data.photos.columns %}
    <div class="moveInSlow">
        {%- for item in columns.column -%}
        {% include partials/photo.html %}
        {%- endfor -%}
    </div>
    {% endfor %}
  </section>
  <div class="mx-auto my-6 prose text-center text-white px-4sm:px-6 lg:px-8">
    <p>📸 <br/> If you'd like a full-resolution version of any photo for whatever reason, just <a href="/#contact">shout</a>.</p>
  </div>


</article>