---
layout: default
---
<article>
  <div class="relative flex flex-col w-full max-w-5xl px-4 mx-auto mt-6 mb-12 sm:py-24 sm:mb-0 sm:mt-0 md:py-32 2xl:max-w-screen-xl sm:px-6 lg:px-8 xl:px-0">
    <h1 class="relative text-3xl leading-tight moveIn xs:text-4xl lg:text-5xl">
      {{ page.intro.title }},<br /> <span class="inline-block antialiased font-medium moveIn text-neutralGray-700 font-edgy">memories & shit</span>
    </h1>
  </div>

  <section class="grid px-4 lg:gap-8 sm:mt-0 sm:px-6 lg:px-8 lg:grid-cols-3">
    {% for columns in site.data.photos.columns %}
    <div class="moveInSlow">
        {%- for item in columns.column -%}
        {% include partials/photo.html %}
        {%- endfor -%}
    </div>
    {% endfor %}
  </section>
  <div class="mx-auto my-6 prose text-center text-white px-4sm:px-6 lg:px-8">
    <p>📸 <br/> If you'd like a full-resolution version of any photo, just <a href="https://twitter.com/mmckvr">DM me</a>.</p>
  </div>


</article>