---
layout: case-study
---
{%- if page.intro -%}
  {% include partials/case-study-intro.html %}
{%- endif -%}


<section class="{% include classes/case-study-section.html bgColor='altGray-300' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">
            {% include partials/case-study-h2.html title="The problem" %}

            {% include partials/case-study-p.html content="When I first joined Sweepr, we had four web apps:" %}

    </div>

    <div class="flex flex-wrap xl:flex-no-wrap px-4 py-20 sm:px-6 mx-auto">
        {%- for item in page.tools -%}
        <div class="w-full mb-12 md:mb-0 md:w-1/2 xl:flex-1 md:p-6 2xl:p-12">
            <li class="rounded-lg flex flex-col text-center bg-white text-altGray-900 shadow-lg sm:shadow-xl items-center p-4" data-tilt data-tilt-max="5" data-tilt-scale="1.03" data-tilt-speed="750" data-tilt-perspective="1000">
                <div class="-mt-8 rounded-lg p-4 bg-{{item.color}}-100 border-4 border-white">
                    <svg class="w-10 h-10 text-{{item.color}}-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">{{item.icon}}</svg>
                </div>
                <h3 class="font-medium font-edgy in pt-4 block pb-2 text-xl sm:text-2xl">{{item.title}}</h3>
                <p class="text-lg sm:text-xl opacity-75">{{item.description}}</p>
            </li>
        </div>
        {%- endfor -%}
    </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">

        {% include partials/case-study-p.html content="The problems here were the classic case of designing multiple products without a centralised design system:" %}

        <ul class="{% include classes/case-study-list.html %}">
            <li><span class="{% include classes/highlight.html %}">Inconsistent styling</span>, design language & patterns across the different products</li>
            <li>More time spent on designing new components, patterns and <span class="{% include classes/highlight.html %}">less on the actual problem</span></li>
        </ul>

    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='white' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">

        {% include partials/case-study-h2.html title="Design audit" %}

        {% include partials/case-study-p.html content="We carried out a design audit on all of the existing products to get a sense of the polarity and inconsistencies between each of them." %}
    </div>

    {% include partials/figure.html directory="oasis-ds" image="design-audit@2x.jpg" alt="Design Audit" max-width="max-w-screen-xl" width="1024" height="586"  %}

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">

        {% include partials/case-study-p.html content="It also provided us with data on which components are used most frequently, allowing us to determine the elements that should be focused on first." %}
    </div>

</section>
<section class="{% include classes/case-study-section.html bgColor='altGray-100' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">

        {% include partials/case-study-h2.html title="Finding a font family" %}

        {% include partials/case-study-p.html content="One of the most important aspects of any digital product is the typography." %}

        {% include partials/case-study-p.html content="We researched and trialled a number of super families to determine one that could be used across our products." %}

        {% include partials/case-study-p.html content="Eventually, we settled on using <a href='https://rsms.me/inter/'>Inter</a> for its versatility, readability at smaller font sizes, and its numerous OpenType features." %}
    </div>

    {% include partials/figure.html directory="oasis-ds" width="1640" height="665" image="inter.png" alt="Inter font family" max-width="max-w-5xl"  %}

</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-300' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

        {% include partials/case-study-h2.html title="Building a colour palette" %}

        {% include partials/case-study-p.html content="Before creating our palette, we first had to determine the colours that we wanted to support, such as:" %}

        <ul class="{% include classes/case-study-list.html %}">
            <li>Primary or accent colours</li>
            <li>Grays</li>
            <li>State colours (such as success, info, error & warning)</li>
            <li>Secondary colours</li>
        </ul>

    </div>

    {% include partials/figure.html directory="oasis-ds" image="colours.png" alt="Oasis Design System Colours" max-width="max-w-auto" classes="w-full"  %}

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

        {% include partials/case-study-p.html content="Once we had done this, we then needed to create the different accent from each of the base colours. Therefore, each base colour would have 9 accents (e.g. green-100 to green-1000) to provide us with plenty of versatility for each base colour." %}

        {% include partials/case-study-p.html content="To make it easier to apply to WCAG colour accessibility guidelines, each colour and it's accents were marked with it's compliance score (e.g. is this colour AAA or AA compliant?)" %}


    </div>



</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-900' textColor='white' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-white">

        {% include partials/case-study-h2.html title="Creating components" %}

        {% include partials/case-study-p.html content="Our design audit had provided us with a list of components currently being used that we would need to redesign, but I also carried out a lot of research on other design systems to collate data on other components that we may need in our products." %}

    </div>

    <div class="{% include classes/case-study-scroller.html%}">
        {%- for item in page.components -%}
        <figure class="flex-none w-11/12 md:w-3/4 lg:w-5/12 px-4 sm:px-6 md:px-8 xl:px-12">
            <img class="shadow-lg" loading="lazy" src="/images/oasis-ds/{{item | slugify}}.png" alt="{{item}}">
        </figure>
        {%- endfor -%}
    </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-white">

        {% include partials/case-study-p.html content="There was also an organic nature to this, where components would be created for the design system when and where they're needed." %}

    </div>
</section>

<section class="{% include classes/case-study-section.html bgColor='altGray-200' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %}">

        {% include partials/case-study-h2.html title="Adding documentation for developers" %}

        {% include partials/case-study-p.html content="Having your one source of truth in Figma is great for the designers but not very accessible to developers for numerous reasons." %}

        {% include partials/case-study-p.html content="To combat this we created internal documentation to showcase the design system components in a more accessible method, as well as explain best practices, show code examples and link to resources." %}

    </div>

    <div class="{% include classes/case-study-scroller.html%}">
        {%- for i in (1..5) -%}
        <figure class="flex-none w-11/12 md:w-3/4 lg:w-7/12 px-4 sm:px-6 md:px-8 xl:px-12">
            <img class="shadow-lg lg:shadow-xl xl:shadow-2xl" loading="lazy" src="/images/oasis-ds/documentation-{{i}}.png" alt="Oasis Design System Documentation" width="1680" height="1050">
        </figure>
        {%- endfor -%}
    </div>
</section>

<section class="{% include classes/case-study-section.html bgColor='white' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">
        {% include partials/case-study-h2.html title="Using the design system in the wild" %}

        {% include partials/case-study-p.html content="The first product I started to work on after we had created the design system was the <span class='font-edgy font-medium bg-yellow-300'>Interaction Editor</span>." %}
    </div>

    {% include partials/figure.html directory="oasis-ds" image="ie-editor-preview.jpg" alt="Sweepr Interaction Editor Preview" max-width="max-w-screen-xl" %}

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

        {% include partials/case-study-p.html content="Designing this product was a large & complex piece of work that spanned over 6 months. Thankfully, with the design system in place, much of the low complexity ∞ high effort tasks, such as component design, didn't require as much focus." %}

    </div>

    <div class="{% include classes/case-study-scroller.html%}">
        {%- for i in (1..5) -%}
        <figure class="flex-none w-11/12 md:w-3/4 lg:w-7/12 px-4 sm:px-6 md:px-8 xl:px-12">
            <img class="shadow-lg lg:shadow-xl xl:shadow-2xl" loading="lazy" src="/images/oasis-ds/ie-editor-{{i}}.png" alt="Interaction editor" width="2400" height="1600">
        </figure>
        {%- endfor -%}
    </div>

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

        {% include partials/case-study-p.html content="This meant more time could be shifted towards higher complexity tasks such as UX thinking, structure and design." %}

    </div>

</section>

<section class="{% include classes/case-study-section.html bgColor='[page.color]' textColor='altGray-900' %}">

    <div class="{% include classes/case-study-text-container.html %} {% include classes/prose.html %} text-altGray-900">

        {% include partials/case-study-h2.html title="In conclusion" %}

        {% include partials/case-study-p.html content="Creating our design system had a large impact on the overall company. It allowed us to create new products and features more efficiently and effectively." %}

        {% include partials/case-study-p.html content="It also provided our engineering team with a one source of truth for all components & styles, allowing them to code more efficiently and produce more consistent, accessible components." %}

    </div>

</section>
