---
layout: default
---
{% include partials/hero-sm.html %}

<section class="max-w-xl mx-auto">
<div class="text-white moveInSlow">
    <h3 class="block mb-2 text-2xl font-medium md:text-3xl">So what happens when we die?</h3>
    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas gravida odio et blandit. Nullam aliquet odio in urna lacinia aliquet. Mauris aliquet magna hendrerit lacus convallis, eu sollicitudin lectus molestie. Etiam accumsan est sit amet velit elementum, at hendrerit neque lobortis. Nunc tincidunt et urna tincidunt imperdiet. </p>
</div>
</section>
